[2022-01-17 18:00] alsa64 opened #5 "[Bug] [macOS/aarch64] [frontend] Dragging and Dropping Nodes doesn't work."
If I drag a node from the selection panel and drop it onto the canvas, it doesn't appear on the canvas.

I am running on a MacBook Air from 2020 (M1 / Apple aarch64, through Rosetta)

[Video Recording](https://cdn.discordapp.com/attachments/916354036305887272/927820350463569960/Screen_Recording_2022-01-04_at_08.05.27.mov)

[2022-01-17 18:03] alsa64 opened #6 "[Bug] [Windows/x86_64] [frontend] Application remains frozen when opened"
If I open chaiNNer on Windows, it will remain frozen until I either:
- Focus and unfocus the window
- Click anywhere else

[2022-01-17 18:05] alsa64 opened #7 "[Suggestion] [Docs] Add Build Instructions"
Great for people that want to compile it themselves, contribute or package it for more platforms.

[2022-01-17 18:33] joeyballentine opened #8 "[Bug] FP16 mode and CPU mode are able to be used together, causing issues"

[2022-01-17 18:34] joeyballentine opened #9 "[Bug] CPU mode forced for some Nvidia users"

[2022-01-17 18:48] #7 closed

[2022-01-17 19:52] alsa64 opened #13 "[Suggestion] Package App for Linux as .AppImage"
AppImages run on all major Distributions, are portable, preventing QA issues from having different versions of Libraries on different systems.

You could drop .deb and .rpm support for it too, hopefully shortening your build times.

Some Relevant links:

- [npmjs - AppImage - Electron Forge](https://www.npmjs.com/package/electron-forge-maker-appimage)
- [appimage.org Electron Builder](https://appi

[2022-01-21 02:32] #9 closed

[2022-01-21 02:32] #8 closed

[2022-01-23 02:14] Katzenwerfer opened #17 "[suggestion] Compress the portable builds with 7zip LZMA2"

[2022-01-23 02:20] joeyballentine commented on #17
Hi, I use [this electron-forge maker ](https://www.electronforge.io/config/makers/zip) to build it as a zip. I have it configured to automatically build and upload directly to the GitHub release, so there isn't really much I can do in that regard.

[2022-01-23 02:20] #17 closed

[2022-01-23 09:17] teepean opened #18 "Backend: No module named 'nodes'"
Trying to run chainner on Windows with Python 3.8.5 but I cannot get past this error.

[code]

[2022-01-23 09:23] teepean commented on #18
I changed to 3.8.0 and got it working.

[2022-01-23 09:23] #18 closed

[2022-01-31 13:19] BuyMyMojo opened #24 "Sharpen/Unsharp node?"
I don't think there is exactly an option to sharpen an image with OpenCV but the wiki shows a basic way to do Unsharp masking
https://en.wikipedia.org/wiki/Unsharp_masking#Digital_unsharp_masking

A note with a slider for sharpen amount would be great!

[2022-01-31 13:35] BuyMyMojo opened #25 "Image quality metric node(s)"
When testing models I compare the upscaled to the original. being about to get  the SSIM and PSNR values for one image compared to the other would be a useful tool and being able to use that in the node system would be super handy.

more of a stretch but if possible a [VMAF](https://github.com/Netflix/vmaf) node would be great too

[2022-02-01 21:11] kimberly990 opened #26 "Stop making amazing programs!"
This is too good for us mortals

[2022-02-01 21:16] #26 closed

[2022-03-10 02:36] joeyballentine commented on #5
This is fixed now

[2022-03-10 02:36] #5 closed

[2022-03-18 21:50] joeyballentine commented on #13
Closing this because the linked electron forge thing wants me to use electron builder to do it otherwise it will break my github action.

Also, the zip build should be good enough because it also should run on all distros and is portable, so in my mind appimage is redundant.

[2022-03-18 21:50] #13 closed

[2022-03-18 21:52] #24 closed

[2022-03-27 23:41] TheIceCreamTroll opened #40 "[Bug] 'optional' flag in Text Append node doesn't work"
~~Currently, every field in the Text Append node has to have something entered in order for the flowchart to run, which can be an issue when you only have two text inputs you want to append. Ideally, they should be able to be left blank.~~

Edit: Looks like this is actually implemented in ```utility_nodes.py```, but it doesn't seem to be working as intended.

[2022-03-28 00:24] joeyballentine commented on #40
Just recreated it. It works properly when you connect text from another node to it, but not when entering the text manually. Will look into it.

[2022-04-04 21:56] itewreed opened #43 "invalid opcode in libtorch_cuda_cpp.so"
When I try to do an image upscale the upscaling fails and I see the following two things in the logfiles
[code]

So this seems to has something to do with my graphic card, which is a RTX3060, 12GB, because using CPU instead of GPU works.

I'm running this under Kubuntu 21.10.
Driver info: Driver Version: 470.103.01   CUDA Version: 11.4

If this is not directly related to chaiNNer, can you please a

[2022-04-04 22:29] joeyballentine commented on #43
I haven't seen an error like this before, but the first thing I would try is updating your drivers. 470 is a bit old, and might cause issues with newer pytorch builds. If that doesn't work, please let me know. I think pytorch changed something with their install command so it could also be something related to that, but you should start with a driver update.

[2022-04-04 23:58] #40 closed

[2022-04-05 09:11] itewreed commented on #43
I tested it now on another system and there it runs without error. Specs are
Ubuntu 20.04 LTS, Kernel 5.13.0-30-generic
Driver Version: 470.103.01   CUDA Version: 11.4
NVIDIA GeForce GTX 1660, 6GB

However, the CPU on the system where the opcode error appears is very old. I should give it also a try to put the 3060 into the system which currently holds the 1060.

[2022-04-22 07:32] itewreed commented on #43
I'll close this, as it probably has to do with a very outdated CPU.

[2022-04-22 07:32] #43 closed

[2022-04-26 14:26] RunDevelopment opened #52 "Add a setting to disable hardware acceleration for the GUI"
On Win10, the Nvidia 1080 Ti driver has a bug that causes all Electron applications to become blurry.

![image](https://user-images.githubusercontent.com/20878432/165321332-d0dd3359-6a21-4606-bae4-75cf3700e03c.png)

The bug has been present for 4 years now, and I lost all hope of it ever getting fixed. Luckily, there is a simple workaround. Disabling hardware acceleration for the Electron app fixe

[2022-04-26 15:00] RunDevelopment opened #53 "Custom nodes?"
Is/will there be support for custom nodes?

I have a few things that I need chainner to support for it to be useful to me. I've already implemented these feature in a C# project of mine, but I can easily port them to any language.

[2022-04-26 17:47] joeyballentine commented on #53
You could always fork the repo and implement anything custom you need yourself. Implementing something to allow any arbitrary code to run would be interesting, but I'm not entirely sure how that would work. It would be much easier, at least for the time being, for you to just implement stuff in a separate fork, and if you think those things would be useful to others then make a PR.

[2022-04-27 17:47] RunDevelopment opened #56 "Don't save empty views"
I have found a bug where saving a workflow will just write an empty workflow to disk:

[code]

I'm still trying to reproduce that bug and will make a separate issue for it.

In the meantime, please add a warning or make it impossible to save empty workflows. Saving empty workflows has no value anyway and would have made it easier to detect this bug.

---

Also, why is the JSON base64 encoded? Why

[2022-04-27 17:54] joeyballentine commented on #56
I'll add this to the list of stuff I need to do for saving. There's a lot of quality of life things I need to add. For example, it won't alert you when you have unsaved changes.

Also I base64 encoded it so people wouldn't just see that it's JSON and try to change around stuff. I can see potential cases happening where people just edit their .chn files manually and complain that chaiNNer broke, so

[2022-04-27 17:54] RunDevelopment opened #57 "Saving does not work correctly"
When saving a new workflow via Ctrl+S, the workflow won't be saved.

Steps to reproduce:
1. Make a new workflow
2. Add some nodes
3. Ctrl+S
4. Choose a file name and save
5. Open the saved file
6. All nodes will now be gone

This is because the saved file does not contain any information about the nodes. Example:

[code]

[2022-04-27 17:57] joeyballentine commented on #57
@

[2022-04-27 17:58] joeyballentine commented on #57
(oops, didn't mean to close this)

Nice catch. Guess I haven't tested that in a while

[2022-04-27 18:06] RunDevelopment commented on #56
That's valid, but if that is the only reason to obfuscate the JSON, then wouldn't a checksum of sorts be better? Kinda like this:

[code]

Now we could show a warning saying that stuff has been tampered with.

[2022-04-27 18:23] RunDevelopment opened #58 "BoundedIntegerInput results in str"
I ran into this issue with `BoundedIntegerInput`, but all other `*IntegerInput` classes also yield strings.

Why? The name says int, so why does it pass strings to the `run` method of nodes?

I went through all currently available nodes and all that use an `*IntegerInput` either:
1. Convert the string to int
2. Convert the string float
3. Let numpy convert it to float

So why does it pass strings?

[2022-04-27 18:30] joeyballentine commented on #58
This is something I've known about for a while and I have no idea what causes it. My hunch is it has something to do with converting it from the JSON the frontend sends, or maybe when converting to JSON it becomes a string. I haven't looked into it much, and as you can see I just make sure to parse it to int every time. But yeah, I need to figure that out because it is annoying

[2022-04-27 18:33] joeyballentine commented on #58
By the way, are you in the discord? I can add you to the private development channel and we can discuss implementation details a bit more easily

[2022-04-27 18:34] RunDevelopment commented on #58
`JSON.stringify` will only save it as a string if it has been a string before. Well, whatever it is that is converting numbers to strings, it's consistent. The `.cha` files also have ints as strings.

Not yet. One sec.

[2022-04-27 18:39] theflyingzamboni commented on #58
The default input in any number field is an int, but as soon as you type something, it switches to a str. I feel like this maybe has to do with how the frontend handles textbox inputs.

[2022-04-28 11:29] RunDevelopment opened #62 "Undo + redo don't work"
As the title says, they currently do nothing.

[2022-04-28 11:40] joeyballentine commented on #62
That's not really an issue, I just haven't implemented that yet

[2022-04-28 11:40] #62 closed

[2022-04-28 11:41] joeyballentine commented on #62
I did try, it just didn't work properly so I deprioritized it

[2022-04-28 11:51] RunDevelopment commented on #62
... Then why is there an "Edit" menu entry...

[2022-04-29 00:59] #53 closed

[2022-04-29 01:22] #52 closed

[2022-04-29 03:57] joeyballentine commented on #56
That's a very good way of doing that and I'm definitely down to change it to that.

[2022-04-29 11:13] RunDevelopment commented on #52
Thanks!

[2022-05-02 05:33] #57 closed

[2022-05-04 04:46] joeyballentine commented on #6
I haven't had this happen to me in a long time, so I'm going to assume this is fixed. If it isn't, I don't even know what I can do to fix it... But if so I can reopen this

[2022-05-04 04:46] #6 closed

[2022-05-04 15:40] octopushugger opened #120 "Merge Load Image and Iterator Nodes"
As it is currently it appears you have to create your chain twice if you want to use it on a specific image and then decide to run a batch. Would be more intuitive and less work to have the iterator node removed and its functions integrated into the regular load image node for when you have a folder selected instead of a single image.
Or if it's less work to program just make the iterator node com

[2022-05-04 15:50] joeyballentine commented on #120
I plan on adding a feature to iterators where you can import an existing .chn file into them and it will load all the nodes in, to alleviate this problem.

At some point I'll probably also make it possible to drag existing nodes into the iterator editor, as well as allowing copy and pasting in. But that's a bit more complicated.

That being said, I'm definitely not going to just make the load imag

[2022-05-04 16:13] theflyingzamboni commented on #120
To expand on the difficulties of not having an explicit iterator "environment," consider a situation where you want to apply a specific mask to everything in a folder for whatever reason. You want to iterate through the directory, but you only want the mask to load one time. Having an explicitly defined iterator environment makes this a) easier to accomplish from the backend, and b) more obvious t

[2022-05-04 16:18] theflyingzamboni opened #121 "Unsaved changes warning"
When closing chaiNNer, creating a new chain, or opening another chn file, pop up a prompt if there are unsaved changes to the current chain and ask whether to save.

[2022-05-04 16:19] theflyingzamboni opened #122 "Expand/Collapse all in node list"
The node list is getting pretty long. Include a button to expand/collapse all node categories.

[2022-05-04 16:26] theflyingzamboni opened #123 "Remember window size"
Remember window size on close so that the next time chaiNNer opens, it retains the same dimensions.

[2022-05-05 12:17] RunDevelopment opened #135 "Better default interpolation mode for Resize nodes"
Choose a better interpolation method than NN for the Resize nodes. Maybe cubic.

[2022-05-05 12:40] RunDevelopment opened #137 "If nodes/edges overlap, make sure the selected one is on top"
Examples:

![image](https://user-images.githubusercontent.com/20878432/166924829-127957a9-f128-460d-9d24-9ad34cd2655e.png)

![image](https://user-images.githubusercontent.com/20878432/166924842-ededb175-4adc-4241-9bae-b7565b451be8.png)

[2022-05-05 12:42] RunDevelopment opened #138 "Add documentation to nodes"
Right now, nodes only have a short summary of their function.

Add documentation and usage information for all nodes. The current idea is to have a little (i) icon next to the node name that opens a popup with the docs.

[2022-05-05 12:49] RunDevelopment opened #139 "Fix blur node"
Right now, the blur node is just broken.

1. It approximates Gaussian blur because the simple blur is iterated 16 times.
2. The amount input is not a radius (as is the case with Gaussian blur), but the kernel size. So if the amount is even, the kernel will move the whole image by one pixel (times 16).

Fixing either of these problems is a breaking change.

[2022-05-05 12:50] RunDevelopment opened #140 "Add caption doesn't support non-ASCII characters"
![image](https://user-images.githubusercontent.com/20878432/166926493-481bdb2c-1bc0-4ea4-9643-38bbe6428b51.png)

[2022-05-05 12:52] RunDevelopment opened #141 "Many DDS DXT10 formats are not supported"
The underlying image library we use does not support many DDS DXT10 formats.

This includes:
- ATI1 (legacy)
- ATI2 (legacy)
- BC1 (all variants)
- BC7 (all variants)

[2022-05-05 13:37] joeyballentine commented on #135
In my opinion box would be a good default

[2022-05-06 21:40] RunDevelopment opened #148 "Add support for branching"
We could do branching by using a special value representing a not-taken branch:

The main problem is that the current execution engine takes all possible paths. This is good and what we want it to do, but it makes branching (where we only want it to take some paths) difficult. So how about we use a special value, let's call it D, to represent a branch that is not taken?
To create a dead branch, a

[2022-05-06 22:13] joeyballentine commented on #148
The condition expressions, i assume, would just be something like

[code]

[2022-05-07 15:13] RunDevelopment opened #153 "Save files with Resize nodes break when PIL is installed"
When PIL gets installed, old save files with Resize nodes break.

This is because the interpolation method input uses the literal interpolation method values of either PIL or OpenCV. The those values depend on what you have installed.

I'm currently working on a fix for this. Since the numerical values of PIL and OpenCV are incompatible with each other, I will choose the PIL values since most of o

[2022-05-07 15:16] RunDevelopment commented on #153
The good news here is: only use numerical values from 0-4 for both PIL and OpenCV, so we will only misinterpret interpolation methods. We will always get valid interpolation methods.

[2022-05-07 17:52] #153 closed

[2022-05-08 14:43] RunDevelopment commented on #140
Fixed by #156.

[2022-05-08 14:43] #140 closed

[2022-05-08 21:17] #135 closed

[2022-05-09 21:48] limnibal opened #174 "DirectML target check"
If there is no cuda, do a check if dml is available and if it is then use that as the device

[2022-05-10 20:30] RunDevelopment opened #180 "Add search bar clear button"
Add a small x to the search bar when it has some text to reset the text. Like this:

![image](https://user-images.githubusercontent.com/20878432/167716468-94dea46e-d88e-4382-a7b0-bad7d3b3e054.png)

[2022-05-10 22:59] theflyingzamboni opened #184 "Add interpolation slider labels"
Label ends of interpolation sliders for PyTorch and NCNN as 'Model A' and 'Model B'. Make sure functions match that ordering.

[2022-05-11 07:57] RunDevelopment opened #186 "Automatically select created node"
When you double-click or drag'n'drop a node from the node selector, the newly created node should be selected.

[2022-05-11 07:59] RunDevelopment opened #187 "Save notification"
Right now, there is no indication that the current chain has been saved successfully. Add a save notification (somewhere) so that the user knows that their chain has been saved (and where to).

[2022-05-11 14:33] #180 closed

[2022-05-12 09:18] RunDevelopment opened #204 "Per node-type settings"
We recently had feedback where a user wanted to set their own defaults for the interpolation method of the resize nodes and the starting directory for image load/save and model load/save. This is definitely a useful feature, especially for power users.

Add settings for each node type that allow the user to override the defaults values/behavior of newly created nodes. Those settings should also be

[2022-05-12 20:11] RunDevelopment commented on #121
I laid the groundwork for this in #206. I'll add this feature after my PR was merged.

[2022-05-12 20:23] #187 closed

[2022-05-13 09:05] #56 closed

[2022-05-13 12:24] #121 closed

[2022-05-13 15:47] #184 closed

[2022-05-13 16:05] RunDevelopment opened #214 "Change Resize factor to percentages"

[2022-05-13 16:06] RunDevelopment opened #215 "Invert model/network interpolation scale"
The slider tracker being all the way on the left side should mean 100% A and 0% B.

[2022-05-13 16:18] RunDevelopment opened #217 "Use yargs for argument parsing"

[2022-05-13 19:50] RunDevelopment opened #218 "Add "Copy system information to clipboard" button"
We often have issues where the devs need to know some system information and the current settings.

Add a little button that automatically collects all this info and copies it to the users clipboard, so the can send it to us.

This should include:
- All current settings
- OS
- CPU/GPU model + specs
- Environment variables

[2022-05-13 20:13] RunDevelopment opened #219 "Show "discarding unsaved changes?" message when closing"
Just like with *File > New*, show a little dialog that asks the user whether they really want to close without saving.

[2022-05-13 23:00] theflyingzamboni opened #220 "Custom preview window"
Running the Preview Image node would pop up a custom chakra window. This custom window would have the following features, as shown in the mockup below:
1) Window should be fully resizable.
2) Chain should pause while window is open to prevent window spam.
3) Preview Image should accept multiple image inputs (accept an iterable somehow in potential new iteration system?). All simultaneous inputs (s

[2022-05-14 12:29] RunDevelopment commented on #137
Fixed by #221.

[2022-05-14 12:29] #137 closed

[2022-05-14 15:16] RunDevelopment commented on #219
The same message should also be shown when opening a file while having usaved changes.

[2022-05-14 21:04] RunDevelopment opened #227 "Node context menus"
Right clicking a node should open a context menu similar to the ... button in the node footer, but at the point of right clicking.

This would be best accomplished via a context similar to the alert box context, where a single menu is used instead of multiple instances of it.

[2022-05-15 09:22] RunDevelopment opened #229 "Disable electron menu and shortcuts while an alert is open"
Right now, our custom alert have the problem that they can be undermined. E.g. the "Discard unsaved changes?" alert can be undermined by just opening a new file (see #219) or saving the current file. The same is also true for lots of other alerts.

The basic problem is that the user can still do other inputs by using the menu or shortcuts. This essentially bypasses the input lock imposed by the al

[2022-05-15 15:01] #217 closed

[2022-05-15 18:33] #214 closed

[2022-05-15 18:33] #215 closed

[2022-05-16 01:31] iwubcode opened #235 "[ Feature ] Pytorch Model to NCNN Model"
As an AMD user, the automatic conversion from the pytorch model format to ncnn is really nice to have in cupscale.  For now I can use that tool and use any converted models in chaiNNER but it would nice to support something similar natively in chaiNNER.

I know this was in the readme but I wanted to capture it as an issue so someone would be more likely to work on it :)

[2022-05-16 01:33] iwubcode opened #236 "[ BUG ] Installing NCNN gave error output"
Installing NCNN gave an error output about restarting chainner.  I did so but NCNN still wasn't installed.  I tried again and again but still it wasn't installed.

Finally, I just let it sit and NCNN and the other dependencies were marked as installed.  If chainner is installing, it'd be nice to have some indication and not get an error.

[2022-05-16 01:36] iwubcode opened #237 "[ Question ] Where are dependencies installed in a portable install?"
I chose to install with the portable install of chainner.  I had hoped all dependencies would be installed under that portable folder but it doesn't seem to be the case (or I'm missing them).

Can someone confirm where those dependencies are?  I know I can uninstall from the managed dependencies folder for some apps but python (integrated) cannot and I was curious where that was (I swear I alread

[2022-05-16 01:40] joeyballentine commented on #237
It is located in your appdata folder, in the python folder

[2022-05-16 01:50] iwubcode commented on #237
Thank you very much.  I see python and ncnn now!

[2022-05-16 01:50] #237 closed

[2022-05-16 01:54] joeyballentine commented on #235
I was working on this in the past but wasn't able to get the package working quite right for it. It's difficult to get it working for Linux specifically.

I'll come back to it at some point.

The issue is just that conversion from pytorch to ncnn isn't that simple, and the code that allows easy conversion isn't for python. So, the solution is to use temp files and the precompiled binaries (which i

[2022-05-16 01:56] joeyballentine commented on #237
For anyone that might be seeing this in the future I should have been a bit more specific. It's located in appdata > chaiNNer > python

[2022-05-16 01:57] iwubcode commented on #220
The current preview solution seemed unfortunate (seems like it creates a random temp file somewhere and going out of the actual app was not ideal) so I'm very excited for this.

Suggestion - instead of a tab at the top.  What if you had a scrollable pane on the left with a small image preview along with the name?  At least for the things I upscale, the name is auto-generated and its not always eas

[2022-05-16 01:57] joeyballentine commented on #236
This is a known bug due to an error message I added that happens when the python backend stops while chaiNNer is still running. I need to add an exception for installing dependencies, since the backend is supposed to close when that happens. Will be fixed soon.

[2022-05-16 02:06] joeyballentine commented on #220
Just fyi btw, the temp files get removed when chaiNNer is closed, if you were worried about that. Also. The preview windows for both opencv and PIL also work like that, by making temp files and opening them in a new window.

But yeah, I'm hoping to have a custom preview window in the near future.

[2022-05-16 02:12] joeyballentine commented on #120
This will be fixed in the future when iterators are rewritten.

[2022-05-16 02:12] #120 closed

[2022-05-16 02:15] iwubcode opened #238 "[ Question ] Does NCNN node use RealESRGAN or ESRGAN?"
I'm very new to upscaling, so apologies if this is a dumb question!

For cupscale, we have the option to use "RealESRGAN" or "ESRGAN" with NCNN.  RealESRGAN is faster but only supports 4x models (not sure if it's a limitation of the implementation or RealESRGAN).  Which one does chainner use?

[2022-05-16 02:15] joeyballentine opened #239 "Add prevent-app-suspension to prevent windows from going to sleep while chaiNNer is processing"
This is something in electron. See docs here: https://www.electronjs.org/docs/latest/api/power-save-blocker#powersaveblockerstarttype

[2022-05-16 02:19] joeyballentine commented on #238
RealESRGAN is not faster than ESRGAN, it _is_ esrgan. It's the exact same architecture.

Unless you mean the SRVGGNet type RealESRGAN models, those are a different architecture (xinntao called these the "anime video" models)

Anyway, NCNN mode in chainner does not require any specific architecture. Due to the way NCNN works, theoretically any SR architecture converted to NCNN works. That's why Wai

[2022-05-16 02:33] iwubcode commented on #238
Yeah the wording was confusing to me too.  I was just going off of cupscale's terminology.  I don't think it's a different model type?

The release notes for cupscale say:

9.9s for a 512x512 image (RealESRGAN) vs 28.1s (ESRGAN) so it's quite a bit faster.

While chaiNNer doesn't have any statistics it outputs, timing it manually with a stopclock seems to give around similar speeds to RealESRGAN i

[2022-05-16 02:33] #238 closed

[2022-05-16 02:37] iwubcode opened #240 "[ Feature ] Image comparison node"
Likely a follow up to #220 that used similar tech, would be some sort of comparison node with the ability to compare side-by-side, animate between two images, or even a slider.

[2022-05-16 02:53] joeyballentine commented on #238
Cupscale just bundled the RealESRGAN binaries instead of actually using the raw NCNN code. ChaiNNer uses the generic NCNN code that can run anything.

[2022-05-16 02:54] joeyballentine commented on #240
To compare side by side right now, use the image stack node

[2022-05-16 03:00] theflyingzamboni commented on #240
@joeyballentine This issue should be closed, as it is already part of the preview node issue (as well as the stack node providing the other part of this functionality).

[2022-05-16 03:14] #240 closed

[2022-05-16 03:43] iwubcode commented on #240
Stack node works for now, didn't think of using it in that way.  It would be nice to support an animation or a slider based approach as well though.

[2022-05-16 10:27] RunDevelopment opened #243 "Node progress indicator"
Some nodes, e.g. upscale, can take quite a long time. It would be nice to have some progress indication for them.

We already do this for iterators (for obvious reasons), but it would be nice if nodes could yield progress updates while running.

[2022-05-16 11:35] RunDevelopment opened #244 "Remember last open/save directory"
Just like for file and directory inputs, remember the last open/save directory.

[2022-05-16 11:37] RunDevelopment opened #245 "Remember recently opened files"
Add a sub menu "Recently opened" that holds up to 20 recently opened chains.

Chains 1 to 9 should be accessible via shorts Ctrl+1 to Ctrl+9

[2022-05-16 12:50] #239 closed

[2022-05-16 15:32] joeyballentine opened #249 "Using "delete" in the ... menu does not always work"
It works sometimes, but doesn't work other times.

[2022-05-16 15:43] RunDevelopment commented on #243
Another example where this would be useful is the preview node. For some large images, it takes a good 10~20 seconds for the backend to save the png. During that time, there is no progress indication at all (if preview is the end of the chain) aside from the Start button not being enabled.

[2022-05-16 15:44] RunDevelopment opened #251 "Preview node should use the fastest compression mode"
For preview, we don't care about how small the PNGs are. Just save them as quickly as possible and open them.

[2022-05-16 15:46] joeyballentine commented on #243
Along with a progress indicator, nodes should probably have some indicator showing that they're just running in general, even if there isn't any progress to report

[2022-05-17 09:37] #249 closed

[2022-05-17 11:17] #219 closed

[2022-05-17 14:56] joeyballentine opened #266 "Iterators always go to 0,0 and have weird behavior"
Iterators seem to not get created correctly. Probably due to the wrong createNode logic being applied to them

[2022-05-17 16:22] RunDevelopment opened #268 "Show conformation dialog when discarding changes when opening a file"
File > Open will overwrite the current node state. Any unsaved changes will be lost, so let's warn the user.

[2022-05-17 16:28] #218 closed

[2022-05-17 17:33] #123 closed

[2022-05-18 00:12] #266 closed

[2022-05-18 20:07] RunDevelopment commented on #251
I just tried this out, and it seems like it's already using the fastest one?

Honestly, I don't get it. The default compression mode (no idea which one it is) takes 1.7s for my example image (8468x4320), but the best speed mode (level 1) takes 3.5s and produces a larger file. No compression takes 1.6s but the image 2x the size of default. For reference, best compression (level 9) takes 18.3s and i

[2022-05-18 20:07] #251 closed

[2022-05-19 10:52] RunDevelopment opened #290 "Overlap validation does not work correctly"
Base is required.

![image](https://user-images.githubusercontent.com/20878432/169277236-55f84fe7-5ccf-43b0-bf44-d77a8a873605.png)

[2022-05-19 16:56] #290 closed

[2022-05-19 17:09] RunDevelopment opened #293 "Directory input: Show full path on hover"
Show the full directory path on hover just like the file input does.

[2022-05-19 19:40] #293 closed

[2022-05-19 21:03] RunDevelopment opened #298 "Overlay Image: Add opacity slider for base image"

[2022-05-19 21:40] #244 closed

[2022-05-19 21:40] #245 closed

[2022-05-21 11:27] RunDevelopment opened #304 "Average color should ignore the alpha components"
![image](https://user-images.githubusercontent.com/20878432/169649580-93e6388d-6257-4b8e-86c4-7f78aa59763c.png)

[2022-05-21 22:20] RunDevelopment opened #308 "Add "Open in explorer" for file input and directory input element"
Sometimes you just want to open the directory/file directory.

I think the best way to add this is via a context menu entry. See #227.

[2022-05-22 11:18] RunDevelopment opened #315 "More general Math node"
Right now, the Math node is very limiting. It only supports a small selection of binary operations, and even simple formulas are difficult to implement.

Add a Math node with a variable number of inputs that produces one output.

The formula itself is input using a simple text field. The input numbers are simply labeled lowercase a-z. A formula could look like this: `sqrt(a ** 2 + b ** 2) * c / 10

[2022-05-22 16:00] joeyballentine commented on #315
Variable number of inputs is something not possible right now. But yeah, something like this would be cool.

Though, I'm not really sure what use case it would be for. Really all the math node is needed for right now is taking fractions of an image's size and stuff like that

[2022-05-22 16:32] RunDevelopment commented on #315
It's possible using a little trick. We don't actually need to support variable number of inputs, it just has to look like we do. We could just have a large-enough fixed number of inputs (e.g. 10) and hide all inputs except for the first one by default. If the user that "adds" new inputs, we just show them the next hidden one.

Hacky, yes, but functional.

We have a bunch of nodes with number input

[2022-05-22 17:54] joeyballentine commented on #315
That's actually a pretty genius hack. We could use that for all the variable input nodes, like image stack. Just do a [ImageInput(label=f"Image {i}") for i in range(100))] and then have configurable option for whether it's variable or not, which we'd set to true (and probably have a starting index option), and then it would handle that on the frontend.

[2022-05-23 11:57] RunDevelopment commented on #227
Resolved by #316.

[2022-05-23 11:57] #227 closed

[2022-05-23 13:02] #304 closed

[2022-05-24 03:17] theflyingzamboni commented on #298
@joeyballentine I forgot about this issue when i PR'd the overlay changes.

[2022-05-24 03:17] #298 closed

[2022-05-24 19:04] RunDevelopment opened #332 "Duplicate more than one node"
![image](https://user-images.githubusercontent.com/20878432/170112890-c68d112c-edb0-498b-bc73-f5fe9f252c5c.png)

[2022-05-24 22:30] #268 closed

[2022-05-25 16:00] RunDevelopment commented on #332
Copy and pasting is good enough, I think. We might need to add a context menu for multiple selected nodes in the future, but it's not necessary rn.

[2022-05-25 16:17] RunDevelopment opened #339 ""Discard changes?" dialog on open should come before the open file dialog"
It's strange that the open file dialog shows up, the user selects a file, and then we essentially ask: "Are you sure that you *really* want to open that file?"

[2022-05-25 19:35] #308 closed

[2022-05-26 10:55] RunDevelopment opened #352 "Regex replace node"
Add a node that replaces all occurrences of a regex with a given substitution pattern. This is useful for manipulating file names.

[2022-05-26 10:58] RunDevelopment opened #353 "More general text append node"
Right now, the text append node is a bit hard to use, but it's essentially just a `stringArray.join(separator)`. Add a new node that takes a substitution pattern (similar to #352) and variable many string inputs (0-many) that to substitute.

[2022-05-26 18:32] RunDevelopment opened #356 "Any number input is draggable. It shouldn't be."
![image](https://user-images.githubusercontent.com/20878432/170553504-a752cffe-b70a-4c0f-99d8-a25fa4059531.png)

[2022-05-26 19:06] #356 closed

[2022-05-28 18:17] theflyingzamboni opened #373 "Node disable/passthrough"
Allow individual nodes to be disabled and permit upstream inputs to be passed through if possible, else disable downstream nodes as well. One way this could potentially work at a high level is to check if the "primary" input type (e.g. an image being modified) matches the output type, then the input is just passed to the next node. If the "primary" input type does not match the output type, or the

[2022-05-30 01:50] theflyingzamboni opened #376 "Fix writing files with non-ASCII characters"
imwrite does not natively support non-ASCII characters, so filenames get messed up if they are used. This should be able to be worked around with imencode/imdecode.

[2022-05-30 14:43] #122 closed

[2022-05-30 19:40] LuisB79 opened #381 "Vapoursynth/avisynth Filtering"
if possible, adding vapoursynth/avisynth filtering for denoising or debanding video, would be a great addition

[2022-05-31 09:18] RunDevelopment opened #382 "Better visual indicator for iterator children"
Right now, the visual indicator that a node is the child of an iterator is very subtle. Too subtle. Add a clearer visual indicator.

Current indicator:
![image](https://user-images.githubusercontent.com/20878432/171139292-bafc245a-aacd-4995-b596-d5fbc7e8a6fb.png)

[2022-05-31 09:18] RunDevelopment opened #383 "z index is broken"
After updating React flow, z ordering is broken again.

[2022-06-03 00:17] joeyballentine commented on #376
Fixedin #390

[2022-06-03 00:17] #376 closed

[2022-06-03 00:20] joeyballentine opened #392 "RealESRGAN models cannot be loaded if weights outside "params" key"
This should be a simple fix of just changing how we check for the model.

[2022-06-04 03:43] iwubcode opened #393 "[ Question ] Why is pytorch now needed?"
I have an AMD GPU and just installed the latest update.  Unfortunately I have no nodes available.  Looking at my missing dependencies "Pillow" and "pyTorch" weren't installed.  Why is pytorch needed if I'm using NCNN for my upscales?

[2022-06-04 03:47] joeyballentine commented on #393
This is probably due to an issue that was recently fixed but not released where there was some code not getting safely imported, which causes the backend to not load properly when those packages are not installed. This will be fixed in the next release.

[2022-06-04 04:00] iwubcode opened #394 "[ Feature Request ] Collection of files iterator"
Most of the time I have a large amount of files in a directory and I just want to do a handful at a time (maybe to see how a selection look in game or whatnot).  I could move files to a separate directory but that quickly gets a bit tedious.  The directory iterator only supports an entire directory, while the image only supports one image.

It'd be nice to simply drag a few images into chainner an

[2022-06-04 04:02] iwubcode opened #395 "[ Question ] Why is directory iterator a separate area?"
I built up a workflow then setup a directory iterator, only to find I couldn't link my previous flow to the directory iterator.  I'm assuming this is because those nodes weren't "inside" the directory iterator.  Is that true?  If so, why the separate approach for this node?

[2022-06-04 04:25] joeyballentine commented on #395
This is a known pain point of chaiNNer. I hope to allow the ability to drag and drop, as well as copy and paste, existing nodes into iterators at some point. Also, the way iterators work will be changed in the future as well, so eventually this won't be an issue at all.

[2022-06-06 18:04] #139 closed, assigned to nobody

[2022-06-06 23:05] theflyingzamboni opened #398 "Caption text black in grayscale image"
When a caption is added to a single-channel image, the text is black instead of white.

[2022-06-07 09:28] #25 closed

[2022-06-07 09:28] #398 closed

[2022-06-07 10:55] RunDevelopment opened #403 "Many text inputs should accept strings or numbers"
Right now, text inputs only accept strings via edges. They would be more useful if they also accepted numbers.

Then we could change the output types of Image Metrics (#399) to floats, as they should be. We could also connect e.g. dimension information to Text Append.

[2022-06-09 17:40] Unordinal opened #408 "Add "All files (*.*)" filter to the Open Image dialog"
The dialog used when opening an image file has a filter with a long list of image formats. However, there are sometimes files with different or even no extensions that are, in actuality, a supported format that cannot be selected because of the specific filter without renaming every file you want to use. An "All files (\*.\*)" filter that the user could select for these cases would be extremely we

[2022-06-09 20:30] Unordinal opened #409 "TIFF Destructive Premultiplied Alpha"
Loading a TIFF image with alpha and then piping it directly into a Preview Image node will result in a different, darker image. This effect carries over when saving the image to disk as well. This seems to be chaiNNer treating .tiff files as though they always have associative alpha.

Doing the same with the same image saved as a .png with alpha does not have the same effect.

[2022-06-09 20:35] joeyballentine commented on #408
The main reason for not doing this was to help prevent unsupported files from being selected, but we could add this and just do some more validation after selecting the file instead.

[2022-06-09 20:57] theflyingzamboni opened #410 "Blend Mode Node"
Compositing node that allows for selection of different blending modes to apply to the inputs, as in common image editors like Photoshop. This node should incorporate Overlay and Difference and replace those two nodes.

[2022-06-10 12:53] RunDevelopment opened #411 "Usability: Collapsed node selector tooltips"
1. The tooltips for node selector are a bit too minimal when collapsed.
    ![image](https://user-images.githubusercontent.com/20878432/173068233-4bf5850a-627d-4f2c-9ceb-613b7cc798ef.png)
    When collapsed, node tooltips should include the name of the node.
2. When collapsed, categories should have tooltips that display their name.

[2022-06-10 12:56] RunDevelopment opened #412 "Node selector single-click warning"
Right now, single-clicking a node in the selector panel does nothing. Nodes have to be either double-clicked or dragged. When the user single-clicks a node, should a little tooltip (or similar) that explains how we do things.

[2022-06-10 17:14] theflyingzamboni opened #414 "Shift node won't accept negatives"
When the minimum for NumberInput was changed, minimum=None was not added to the inputs for Shift.

[2022-06-10 17:17] theflyingzamboni opened #415 "Rotate should allow arbitrary rotation amount"
Currently, the rotate node has a drop down that only allows 90 degree rotation increments. This should be a number input that accepts decimals 0≤d<360.

[2022-06-10 18:50] joeyballentine commented on #415
It was done this way because this is how cv2's rotate function works. If you'd like to implement a rotation algorithm yourself, feel free.

[2022-06-10 18:50] joeyballentine commented on #415
Actually, PIL's rotate accepts an arbitrary value, so we could just use that www.geeksforgeeks.org/python-pil-paste-and-rotate-method/

[2022-06-11 03:01] #414 closed

[2022-06-11 20:58] theflyingzamboni commented on #373
I have some more thoughts on how this could be implemented. I am basing this on how I tend to think about most of the nodes (*with some notable exceptions), and how I think other users likely think about chaiNNer as well.

*(Split/Merge Channels are probably the most notable exceptions)

The way I tend to think about nodes* is that you have an initial image that is loaded into the chain. This imag

[2022-06-12 08:09] RunDevelopment commented on #373
Regarding pass through: Instead of imposing the idea of a primary input and assuming that users think in a certain way about nodes and chains, why don't we just let users choose which input gets passed through?

We could just say that pass through doesn't happen on the node level but on the edge/input level. I think of it as users right-clicking a specific edge/input and enabling pass through for

[2022-06-12 20:37] joeyballentine commented on #392
Fixed by #423

[2022-06-12 20:37] #392 closed

[2022-06-13 02:16] theflyingzamboni commented on #373
I'll have to think about it more, but at first blush I think I like that idea. I have some concern about people not understanding what can and can't be passed through and why, but disabling the option when invalid is probably enough to settle that confusion, even if users don't always understand the *why*. I feel like this could be done quite easily by having a little single-select radio button fo

[2022-06-13 09:33] RunDevelopment opened #424 "Alert popup should support arrow keys"
Windows' messages support using the arrow keys for changing the currently selected/focused button. It would be nice if our alert popup also supported this.

[2022-06-13 21:01] #410 closed

[2022-06-13 21:08] theflyingzamboni commented on #415
@joeyballentine PIL is what I've used for it.

[2022-06-13 21:14] theflyingzamboni commented on #415
@RunDevelopment
1) It would expand to fit the new dimensions. If we want image expansion to be optional, that is an argument for PIL's rotate, and we can just have a dropdown for it.
2) Channel count does not change. PIL rotate also has a fill argument. Right now, I just have it as black when there is no alpha channel. Would be nice to have that changeable (same goes for the border node), but we'd

[2022-06-14 00:55] theflyingzamboni opened #425 "Separate opacity node"
Opacity is useful for more than just image blending and should be its own node.

[2022-06-14 00:55] theflyingzamboni commented on #425
I plan and doing this one soon.

[2022-06-14 18:09] #415 closed

[2022-06-14 20:14] theflyingzamboni commented on #393
@joeyballentine Was this fixed on 0.9.0?

[2022-06-14 20:15] theflyingzamboni commented on #412
Do you mean like "Double-click or drag and drop to add node to canvas"?

[2022-06-14 20:23] joeyballentine commented on #393
Yes

[2022-06-14 20:23] #393 closed

[2022-06-16 22:32] theflyingzamboni opened #434 "Fix Linux icon"
In Linux, the default gear icon is displayed in the taskbar instead of the chaiNNer icon.

[2022-06-17 00:55] joeyballentine commented on #434
Here's the fix for that: https://stackoverflow.com/questions/48790003/setting-platform-dependant-icon-via-electron-forge-electronpackagerconfig

Extremely stupid

[2022-06-17 11:57] #383 closed

[2022-06-17 18:02] #425 closed

[2022-06-17 20:40] theflyingzamboni opened #440 "Collapsed panel search bar"
Clicking the search button when the selector panel is collapsed should pop up the search bar.

[2022-06-18 02:32] #412 closed

[2022-06-20 19:32] iwubcode commented on #141
This is pretty critical for games.  Any idea what library Chainner would switch to?

[2022-06-20 19:56] iwubcode commented on #141
@joeyballentine - just curious but what have you looked at so far?

[2022-06-20 20:09] RunDevelopment commented on #141
Me so far: all libraries in pypi.org with the dds tag. I also tried looking for C/C++ libraries, but couldn't find anything multiplatform (yet). DDS support seems to be fairly young over a Rust, so no luck there either.

[2022-06-20 20:21] iwubcode commented on #141
@RunDevelopment - hmm, surprising there isn't anything.  I didn't look extensively but does wand not support those variants?  Pillow seemed like it supported BC7 but maybe not BC1.

[2022-06-20 21:03] RunDevelopment commented on #141
Wand requires, well, [Wand to be installed](https://docs.wand-py.org/en/0.6.5/guide/install.html) onto the user's system, so it's not really useful to us even if it can read them.

[2022-06-20 21:50] iwubcode commented on #141
@RunDevelopment - whoops, glossed over that.

As for C/C++ libraries, there are likely quite a few. I have heard good things about https://github.com/akb825/Cuttlefish .  I haven't used it personally however.  Nor do I really know what implications that would have triggering it from Chainner.

[2022-06-21 11:02] RunDevelopment commented on #141
This seems interesting, but I'll have to test it. Cuttlefish uses [FreeImage](https://freeimage.sourceforge.io/features.html) to load DDS files and that library doesn't specify which DDS formats are supported.

[2022-06-21 12:12] joeyballentine commented on #141
Could we just look at how some other programs deal with these formats, if they're open source, and just PR pillow with the ability to read them? I think that would be better than adding another dependency

[2022-06-21 12:34] joeyballentine commented on #141
How about we just read the raw files into numpy and write a custom implementation for decoding the data into something usable?

[2022-06-21 12:39] RunDevelopment commented on #141
I think you severely underestimate the complex of DDS formats, but please prove me wrong. It would be awesome if that worked.

[2022-06-21 13:51] RunDevelopment opened #450 "Better error messages"
When a node throws a runtime error, the user is not told which node threw the error. This can make it almost impossible to debug a chain.

[2022-06-21 16:16] RunDevelopment opened #451 "Searching for "spl" doesn't find "Split Transparency""
Seems like there's some problem with the search function.

I'll fix this after #432 to avoid conflicts.

[2022-06-21 22:02] #411 closed

[2022-06-22 00:13] iwubcode commented on #141
@RunDevelopment - I don't know much about it but it looks like there were several dependencies that Cuttlefish was using.  I may be wrong but for instance the `ISPCTextureCompressor` seems to provide a fast speed up for CPUs that support it.

For outputting PNG, couldn't you continue to use whatever you're using now?

[2022-06-22 08:59] RunDevelopment commented on #141
@iwubcode Sorry, that's not what I meant. I wanted to use Cuttlefish without making bindings for it, so I looked at the CLI. If the CLI was able to output PNGs, we could ask the CLI to convert DDS to PNG and then read the PNG. I was still just looking for a way to read DDS files.

[2022-06-22 17:00] theflyingzamboni opened #455 "Can't insert text in Notes node"
If you move the cursor to an earlier position in a note you've typed to insert something and start typing, after the first letter the cursor will jump to the end of text block and continue adding characters there.

[2022-06-22 17:19] theflyingzamboni opened #457 "Note resize not preserved"
The Note node allows you to resize the text box so that you can see the full text without scrolling. However, if the chain is saved, closed, and reopened, the node sizes revert to default instead of preserving the set dimensions.

(Cursor also currently doesn't change from text cursor when clicking and dragging the scroll bar)

[2022-06-22 19:31] #455 closed

[2022-06-23 21:09] #451 closed

[2022-06-24 15:46] pesesito opened #468 "Frame colors get inverted after using the "Add caption" node in the Video frame iterator"
This is the graph I was using
![image](https://user-images.githubusercontent.com/40332795/175570777-4079f38a-ff50-4142-83f6-4d6652b43de1.png)

And this is the output, bottom is original, top is after the upscale.
![image](https://user-images.githubusercontent.com/40332795/175570861-885baa79-b6f9-47da-8062-ab435027defd.png)

[2022-06-24 21:22] RunDevelopment opened #473 "Deprecate Merge Channels node"
- Mark the node as deprecated.
- Hide in all node selector to prevent new chains from being created that contain the node.
- Show a warning or similar when a chain that includes the node is opened,

[2022-06-25 11:06] RunDevelopment opened #474 "Add a node to get the scale of a model"

[2022-06-25 11:07] RunDevelopment opened #475 "Add nodes that generate images with constant color"
These nodes should come in 3 flavors: grayscale (single-channel), RGB, and RGBA.

[2022-06-25 14:59] #403 closed

[2022-06-25 15:26] RunDevelopment commented on #353
I'll work on this now.

[2022-06-25 23:14] #353 closed

[2022-06-26 14:27] RunDevelopment opened #480 "Context selector search query drops inputs"
When typing quickly, the search query in the context selector will not register some characters.

Steps to reproduce:
1. Open the context selector.
2. Type very fast or just press 3 keyboard keys at once.
3. See that only some characters came through.

I suspect that this happens because the context menu gets updated and registers a new context menu. Fixing this will require changing how the conte

[2022-06-30 12:40] joshua19881228 opened #489 "which node to get result from onnx inference"
My question is actually how to set up a pipeline to run a cnn inference to classify an image. I could not fully understand what dose "upscale image" means and which node to be added after it

[2022-07-03 17:42] #474 closed

[2022-07-08 14:14] joeyballentine opened #523 "Dark mode still behaving improperly"
It seems the setting doesn't take effect until settings is opened. This can probably be fixed by loading the setting from local storage when setting up the chakra instance

[2022-07-09 11:09] #523 closed

[2022-07-12 15:46] RunDevelopment opened #539 "Disabled nodes are animated as running"
When you run a chain with disabled nodes, those nodes will be animated as running. Since they never actually run, we never get "node finished" message from the backend, so these nodes get animated as running until the whole chain finishes (or aborts).

![image](https://user-images.githubusercontent.com/20878432/178533281-85c6357c-b5a5-415f-9948-194247affcb5.png)

[2022-07-12 15:49] RunDevelopment commented on #539
The problem is actually even more general. The executor will only run nodes required for nodes with side effects. So if a node does not have a side effect downstream node, then it will have the same problem.

[2022-07-12 15:55] joeyballentine commented on #539
I was going to say we could just make it not do the animation if its disabled (we should probably still do that), but the more general problem I'm not sure how to solve. I suppose we would have to check on every node if it has a child that has side effects?

[2022-07-13 16:13] bwsinger opened #543 "Unable to install on Windows 10 (v0.9.3)"
When trying to install the application either via the executable in "chaiNNer-windows-x64-0.9.3.zip" or running "chaiNNer-0.9.3.Setup.windows.exe" there is an error that comes up.

Running Windows 10 Home (19044.1826)

<img width="419" alt="python_error" src="https://user-images.githubusercontent.com/16724046/178781977-0d9e2ad7-5ce1-4247-bef3-abee6c5959e0.PNG">

[2022-07-13 16:15] joeyballentine commented on #543
The image you uploaded seems to be invalid, could you try uploading it again?

[2022-07-13 16:16] bwsinger commented on #543
Updated

[2022-07-13 16:23] joeyballentine commented on #543
Can you upload the logs located in appdata/roaming/chaiNNer/logs?

[2022-07-13 16:24] bwsinger commented on #543
[main.log](https://github.com/joeyballentine/chaiNNer/files/9104174/main.log)

[2022-07-13 16:30] bwsinger commented on #543
Looks like this might have been a conflict when running a VPN at the same time as trying to install the app. With the VPN off, it downloads a local verison of Python, but still errors out. From the logs:

[2022-07-13 09:26:19.896] [info]  Port found: 8000
[2022-07-13 09:26:20.161] [info]  Attempting to check Python env...
[2022-07-13 09:26:20.162] [info]  Python not downloaded
[2022-07-13 09:26:20

[2022-07-13 16:43] joeyballentine commented on #543
I'd say try deleting appdata/chaiNNer/python and try running again. I've never seen that error before. If that doesn't work I'll try to do some more research into that error specifically.

[2022-07-13 19:13] bwsinger commented on #543
I tried deleting the `C:\Users\Bradley\AppData\Roaming\chaiNNer\python` folder and re-installing. Here are the logs:

[code]

[2022-07-13 19:43] joeyballentine commented on #543
Do you have an existing python 3.8 installation? For some reason it seems like that's interfering with this, which is weird because it's supposed to be separate

[2022-07-13 22:30] #539 closed

[2022-07-14 11:39] RunDevelopment opened #551 "Some nodes never run but are animated as running/will run"
The executor only executes the nodes that it has to. Any node that does not have side effects or is upstream from a node with side effects will never be executed.

However, chainner will still animate these nodes, even though they will never be executed.

[2022-07-14 13:04] #382 closed

[2022-07-14 20:57] #551 closed

[2022-07-14 22:59] #395 closed

[2022-07-15 15:17] #480 closed

[2022-07-15 16:20] joeyballentine opened #556 "AMD GPUs still get highlighted in red in the dependency manager"
This is a relic from the era when pytorch was the only option. Now, pytorch and onnx should be highlighted red instead of the gpu, to let users know they should use ncnn

[2022-07-15 22:42] #450 closed

[2022-07-16 11:25] bwsinger commented on #543
The solution for me was to remove the system environment variable "PYTHONHOME". After removing this environment variable and running the Windows installer again, I was able to run the program :)

[2022-07-16 14:54] joeyballentine commented on #543
Glad you got it working. I'll look into if there's a way to prevent this from happening in the future

[2022-07-16 20:49] #457 closed

[2022-07-17 10:55] RunDevelopment opened #564 "Sprite sheet iterator and generator"
Add 2 nodes for iterating (splitting) and generating (combining) sprites.

1. An "Iterate Sprite Sheet" node that takes one image and its dimensions, and returns an image iterator of all sprites in the sheet.
2. A "Generate Sprite Sheet" node that takes an image iterator and dimensions, and returns one image that is the sprite sheet of all images in the iterator.

This requires the new iterator co

[2022-07-17 11:00] RunDevelopment opened #565 "Gamma image adjustments"
Add a node to adjust the gamma of an image.

[2022-07-17 12:47] joeyballentine commented on #564
It actually wouldn't be impossible with the current system, just convoluted. I just thought of a way to do it

[2022-07-17 14:40] RunDevelopment opened #571 "Change colorspace returns HSV and YUV in the wrong order"
Right now, RGB -> HSV will return an RGB image where (R,G,B)=(V,S,H) and RGB -> YUV will return (R,G,B)=(V,U,Y). This is because OpenCV uses BGR under the hood.

We should probably fix the order of for HSV and YUV, even though this is a breaking change.

[2022-07-17 14:42] RunDevelopment opened #572 "Change Colorspace RGB->HSV returns non-normalized hue values"
The hue value is the range 0 to 360 (degrees), but pretty much all our nodes expect normalized (0-1) values. This makes working with HSV very difficult, if not impossible.

[2022-07-17 15:07] #565 closed

[2022-07-17 18:04] joeyballentine commented on #564
On second thought, I misunderstood the concept and yeah, we're currently only able to take a spritesheet in and put a spritesheet out, not do one without the other

[2022-07-18 06:11] D-Niermann opened #578 "Sidebar / Node-bar code and usage in external projects"
Hello Joeyballentine,

I came across your project from the react-flow website and it looks amazing!

My Background:
I am currently also using react-flow within a German research project named KoMILo to build a software for robot control. You can see more about the project at www.comflow-project.de. Of course we work non-profit and publish scientific papers about our research.

My Question:
Can we

[2022-07-18 13:15] joeyballentine commented on #578
Hello,

As you're probably aware, this project is GPLv3 licensed (which I'm sure is why you've reached out directly) so copying it directly might not what you're looking for.

As for how to implement it yourself, all it really is in chaiNNer is a modification of this basic drag and drop example from react flow: https://reactflow.dev/docs/examples/interaction/drag-and-drop/

Essentially I just have

[2022-07-18 17:05] #571 closed

[2022-07-18 17:05] #572 closed

[2022-07-18 20:41] joeyballentine opened #582 "Add ratio outputs to interp nodes"
What we talked about on discord

[2022-07-18 20:44] joeyballentine commented on #489
Closing this as it is not relevant. Sorry that chaiNNer isn't currently what you're looking for

[2022-07-18 20:44] #489 closed, assigned to nobody

[2022-07-18 20:48] joeyballentine opened #583 "PYTHONHOME env var appears to mess with integrated python"
This was the cause of #543. This probably isn't fixable by us, but if we can somehow suppress that env var maybe it would be

[2022-07-18 20:49] #543 closed

[2022-07-19 01:16] theflyingzamboni opened #586 "ChaiNNer loses name of current file on reload"
~If you hit a runtime error while running a chain in a chain that you have already saved, the filename in the header will revert to unnamed and Save will require you to Save As, because the association between the chain and the file gets broken.~

Using View -> Reload causes chain to lose association to its filename, the header reverts to "Untitled", and Save As is required to save chain again.

[2022-07-19 09:52] RunDevelopment commented on #586
Do you mean a runtime error in the backend or the frontend?

[2022-07-19 12:10] D-Niermann commented on #578
Hi Joey,

thank you for contacting me back!
I sent you a Discord invite (From my account with the name StierHoden).

Best regards,
Dario

[2022-07-19 13:00] RunDevelopment commented on #582
Closed by #588.

[2022-07-19 14:06] #582 closed

[2022-07-19 16:09] #578 closed

[2022-07-19 21:10] a91896 opened #594 "GitHub: Where the world builds software · GitHub"
https://github.com/

[2022-07-19 21:11] #594 closed

[2022-07-20 08:35] a91896 opened #596 "Best Programming Languages for Ethical Hacking in 2022 - copyassignment.com"
https://copyassignment.com/best-programming-languages-for-ethical-hacking-in-2022/

[2022-07-20 10:07] #596 closed

[2022-07-20 19:33] theflyingzamboni commented on #586
Rechecking the issue, it's actually the reloading causing the issue, something I tend to do when I hit errors in testing. Updated issue accordingly.

[2022-07-21 12:03] RunDevelopment opened #601 "Navi's function are not guaranteed to be correct"
In order for Navi to work, all functions (and function-like expressions) must guarantee the following property:

- Let `A` and `B` be valid inputs for a function `f`. If `A ⊆ B`, then `f(A) ⊆ f(B)`.

This is a fundamental assumption I make, and it's currently not guaranteed.

### The what

This is because `match` can be used to create the complement of a type. Example:

[code]

Right now, this is

[2022-07-21 14:11] RunDevelopment opened #605 "Input type tags"
Right now, inputs only have an "optional" tag (if optional), but know a lot more about inputs. It would be nice to have some for of input type tags.

[2022-07-21 14:13] joeyballentine opened #606 "Directory helper nodes"
It would be nice if we had a good way of splitting and combining directories. Like being able to do os.path.join essentially, or splitting a directory into its different parts.

Maybe this just means we need a way to convert a string to a directory, so that Text Append or Text Pattern would be able to be used for a directory

[2022-07-21 14:14] joeyballentine commented on #605
For this, would it be possible to replace the current way that the optional tag is done, and just make optional part of the type tags?

[2022-07-21 14:33] RunDevelopment commented on #606
This could become difficult.

What a valid directory is depends on the OS. Even simply joining two paths is non-trivial, since different operating systems have different separators. So it would be nice to have a simple cross-platform API (nodes).

[2022-07-21 14:38] joeyballentine commented on #605
I think they should represent any sort of type restrictions rather than the actual type (they can change once connected). For example the merge channels being restricted to gray or some other node having a restricted size

[2022-07-21 14:40] joeyballentine commented on #606
Yeah that's why I was thinking of having nodes for it. And if we did allow text to path stuff it would have to go through a node first to transform it to a proper path

[2022-07-21 14:45] RunDevelopment commented on #605
That won't be easy. Input types (restrictions) can depend on each other. E.g. the restriction of the input of the Change Colorspace depend on the current conversion.

I'll have to think about how we should determine the restrictions to display.

[2022-07-21 15:00] RunDevelopment commented on #606
I'm somewhat against going the paths-are-strings route so many programming languages go. While all paths are string, not all strings are paths. However, I also see that using strings is significantly simpler, from both a user perspective and our perspective.

I just worry about the potential for accidental bugs.

[2022-07-21 15:05] joeyballentine commented on #606
If we can come up with a good way to not use strings, I'm fine with that. But we do need to have some way to append strings onto paths at least

[2022-07-21 17:36] RunDevelopment opened #607 "Tabs"
Added tabs for chains. Creating a new chain with Ctrl+N and opening a chain with Ctrl+O should open a new tab instead of overwriting the current chain.

Not sure about the design.

[2022-07-21 17:37] RunDevelopment opened #608 "Keyboard shortcuts for running, pausing, stopping the chain."

[2022-07-21 17:46] theflyingzamboni commented on #607
I would suggest having Ctrl+N/O and Ctrl+Shift+N/O for new/open in current/new tab, respectively.

[2022-07-21 17:54] joeyballentine commented on #607
As for the design, just use the same chakra tab component that the nodes/presets thing uses and put a bar on top of the editor/react flow box

[2022-07-22 20:15] #608 closed

[2022-07-23 20:38] RunDevelopment opened #618 "Store animation status outside of node data"
As discussed on discord, store `animateb: boolean` outside `NodeData`.

[2022-07-24 05:01] joeyballentine commented on #339
I was about to implement this, then I realized that would require back and forth IPC which is kinda gross, and then also it would not match the behavior of open recent, which would be unable to be done the way you suggest. I'd rather have them match.

[2022-07-24 05:01] #339 closed

[2022-07-24 14:30] #583 closed

[2022-07-24 14:31] #556 closed

[2022-07-24 16:46] joeyballentine opened #623 "Add descriptions to dependencies"
We should add descriptions to dependencies, as well as a dynamic recommended tag or something for nvidia/amd users, so that users will know they don't have to install them all.

Also, since we install the recommended deps automatically, maybe we should rename the Dependency Manager to Package Manager or something, to indicate that they aren't necessarily required?

[2022-07-24 18:29] joeyballentine commented on #339
Another nail in the coffin, open and then ask for discard is what other programs do as well

[2022-07-24 19:00] #229 closed

[2022-07-25 02:57] joeyballentine commented on #424
https://dev.to/rafi993/roving-focus-in-react-with-custom-hooks-1ln

Saving this here for future reference

[2022-07-25 17:22] #586 closed

[2022-07-25 18:59] #473 closed

[2022-07-27 12:00] #408 closed

[2022-07-30 11:56] RunDevelopment opened #658 "Save blank chains"
When making templates, I would be useful to have some way to save a blank version of the current chain. So with all file and directory inputs cleared.

[2022-07-30 15:22] #618 closed

[2022-07-30 21:48] kimberly990 opened #659 "Edges remain dimmed"
This occurs after disabling nodes, running a chain, and re-enabling them

[2022-07-30 21:49] kimberly990 opened #660 "ONNX runtime is not supported with a system Python version newer than 3.9.x"
This is due to ONNX runtime not supporting 3.10.x and newer for the preferred 1.11 release.

[2022-07-30 21:51] kimberly990 opened #661 "Undo gets "stuck" in text boxes"
Occasionally while using CTRL+Z to undo actions, it will continuously undo text edits within a node (such as the Resize (Factor) node) rather than actually undo node arrangements or modifications.

[2022-07-30 21:53] kimberly990 opened #662 "Enabling "Snap to grid" on an existing chain causes node misalignment"
If you enable "Snap to grid" on an existing chain with nodes already placed, the nodes will not be aligned. They will "snap" but remain out of the correct positions.

[2022-07-30 21:58] kimberly990 opened #663 "Better descriptions for certain nodes"
Many nodes within chaiNNer could do with an overhaul of the descriptions to better clarify their functions. The Threshold nodes are a good example, as they only reiterate what the title explains. What does performing a threshold on an actually image mean?

The nodes I believe are included in this:

- All of the Image (Adjustments) nodes
- Normalize Normal Maps
- Add Caption

[2022-07-30 22:02] kimberly990 opened #664 "Use more varied accent colors"
Certain node categories have accents that are far too similar, leading to initial confusion when relying on them to differentiate categories. This applies to the Image (Dimensions), Image (Utilities), and ONNX categories specifically.

[2022-07-30 22:06] kimberly990 opened #665 "Add start/introduction screen and basic pre-made chain templates"
This would be temporary, just to make things easier for new users. This would likely involve adding a "start" screen similar to most photo editors, which would allow you to easily pick these templates.

Ideally it'd also have a preview of what the chains look like, likely an image taken of the chain that's saved with the chain file. This could be used beyond just the beginner templates of course.

[2022-07-30 22:09] kimberly990 opened #666 "chaiNNer being open prevents monitor from sleeping in a timely fashion"
When chaiNNer is open, my monitors refuse to sleep at the setting specified in Windows. This applies even when it's not the active window, and when it's not processing anything. Sometimes the monitor doesn't sleep at all, other times it sleeps in 30 minutes (it's set to 10)

[2022-07-30 22:35] kimberly990 opened #667 "Clicking the nodes tab causes a visual bug"
![image](https://user-images.githubusercontent.com/62084776/182002360-989fd9a5-aa2c-455f-8f47-c106681e5b24.png)

Clicking the nodes tab causes a visual bug

[2022-07-31 00:21] joeyballentine commented on #660
I'm not really sure why you opened an issue for this since there isn't anything I can even do about it.

[2022-07-31 00:22] joeyballentine commented on #662
So you want them to snap not aligned to the grid?

[2022-07-31 00:58] kimberly990 commented on #662
No, that's the problem. It's not actually aligned to the grid in this case, it's based on where the node was previously rather than a set "grid" pattern. I'll try to get an example

[2022-07-31 01:47] joeyballentine commented on #660
This specially is not fixable until onnxruntime gets support for 3.10. however, chainner could do a better job relaying the errors to the user.

Since we just expect things to work as we expect the user to be using 3.9, we didn't really consider adding error parsing and having error popups for the dependency manager. This was obviously a bad oversight, so we should definitely communicate those kin

[2022-07-31 01:50] kimberly990 commented on #662
This is actually no longer an issue, my bad. It must have been resolved in the last couple of releases

[2022-07-31 01:50] #662 closed

[2022-07-31 05:42] joeyballentine commented on #664
The caveat to this is we will eventually run out of accent colors. If we need to be super differentiable for each, that leaves us with very few colors we are able to use for categories. While now yeah we could easily just swap over something like Image Adjustment to purple or something, then what? We already use red, orange, yellow, green, blue, teal, pink, and gray.

I think ultimately the proble

[2022-07-31 11:01] RunDevelopment commented on #667
What exactly is the visual bug here? That the focus rectangle is visible or that it is only partially visible?

[2022-07-31 11:03] RunDevelopment commented on #660
IMO, we should just drop 3.10. We already excluded it from CI tests, because it caused problems, so it's already partially dropped.

[2022-07-31 11:34] RunDevelopment commented on #664
Are category colors that important? What vital information do you get from knowing (or guessing) the category of a node from its accent color?

[2022-07-31 11:35] RunDevelopment commented on #665
I think this might be easy to solve once we have tabs. We could simply have a "Welcome" tab that shows things like templates, recently opened/saved chains, and so on.

[2022-07-31 11:42] RunDevelopment commented on #663
While I agree that we need to provide more information on what nodes do and how to use them (e.g. I have no idea what the Threshold nodes do), I don't think lengthy descriptions are the way to go.

I always thought of node descriptions (= the text you see while hovering over a node in the node selector panel) as small summaries of that node's functionality. I think providing detailed information/d

[2022-07-31 12:08] RunDevelopment opened #669 "Update text is possibly bugged?"
![image](https://user-images.githubusercontent.com/20878432/182025612-b24b5de7-8d4a-45bb-ae45-cd1dc168d37e.png)

This doesn't seem right.

[2022-07-31 16:08] joeyballentine commented on #669
you are correct

[2022-07-31 21:38] #669 closed

[2022-07-31 22:08] joeyballentine commented on #667
It's the overflow: hidden causing the rest of the outline to not show up

[2022-07-31 23:46] kimberly990 commented on #664
I disagree that they're meaningless. I know you two don't rely on them, but it makes using chaiNNer far more natural for me. I'm sure other users rely on it too to some extent.

I understand we just don't have a lot of color options unfortunately. I'd rather keep the accents in their current form than have them removed though.

[2022-07-31 23:48] kimberly990 commented on #663
`I always thought of node descriptions (= the text you see while hovering over a node in the node selector panel) as small summaries of that node's functionality`

I agree. That's the problem actually. Most of the nodes I listed don't actually explain what they do.

Regarding larger dialogs for detailed information, that'd be a great addition. How would you plan on implementing this visually?

[2022-08-01 08:54] RunDevelopment commented on #663
Just a popup. I think, I shared a screenshot a few months ago in the dev channel.

[2022-08-01 09:24] RunDevelopment commented on #663
Also, what more do you want to say about nodes? I'm not sure what to add to e.g. the Opacity node ("Adjusts the opacity of an image.").

[2022-08-01 10:01] kimberly990 commented on #663
Hm. You're right, my bad. Those nodes in that category don't really need it other than Threshold. Threshold is the one that's the most unclear. I've been working with images a good portion of my life and I didn't even know what it meant.

Same goes for Normalize Normal Maps. I'm assuming it corrects normal maps to their proper colors to ensure they work in a game, but the description doesn't do mu

[2022-08-01 13:31] joeyballentine commented on #663
https://en.m.wikipedia.org/wiki/Thresholding_(image_processing)

[2022-08-01 13:41] RunDevelopment commented on #663
A normal map is just a 2D array of normal surface vectors (normal meaning length 1 here). Normalize just means that we make sure that all normal vectors are actually length 1, since image operations and lossy compression can denormalize things.

I'm not sure what else to add to the description. "Normalize" is a [standard](https://registry.khronos.org/OpenGL-Refpages/gl4/html/normalize.xhtml) [term

[2022-08-01 14:05] kimberly990 commented on #663
We had discussed this topic on the Discord server before, I thought we had agreed this node specifically (Threshold) needed an expanded description. I'm not sure what to add as I have no experience with actually thresholding images.

As for the Normalize Normal Maps node, maybe just add a shortened description of what you just said @RunDevelopment. It should be short enough to fit into the tooltip

[2022-08-01 14:15] joeyballentine commented on #663
It should have an expanded description. I think all nodes should have more of an explanation rather than just saying they do the thing they're named after.

However, similar to calling the node connections edges, this is another case where we're just using a standard term for something. Doesn't mean we shouldn't try to explain it for people that don't know what it is, but it's not like it's an unc

[2022-08-01 17:11] #658 closed

[2022-08-01 17:16] RunDevelopment commented on #663
Honestly, same. I still think MD is the way to go, but storing it in files has some downsides. I like the alternative of writing MD in Python strings even less, though.

[2022-08-01 17:17] RunDevelopment opened #676 "Add a "Create Overlay" node"
Sometimes, I want to create overlays from the high-frequency details of a texture. We already support the "Overlay" blend mode which consumes overlays, but we don't have a node to create them yet.

[2022-08-01 17:18] joeyballentine commented on #676
I'm confused by what exactly you mean by an overlay here. What do you have in mind exactly for "creating" an overlay?

[2022-08-01 17:19] RunDevelopment commented on #676
Just a node that given 2 images A and B returns `(A - B + 1) / 2`.

[2022-08-01 17:30] joeyballentine commented on #676
Can't you basically already do that by combining some blend modes?

[2022-08-01 18:18] RunDevelopment commented on #676
I was mistaken over how the Overlay blend mode works. The actual result would be more complex than just `(A - B + 1) / 2`.

[2022-08-01 19:05] joeyballentine commented on #663
Well, we'd need a way to add formatting like italics and bolding. Either we'll be making our own syntax for that or using an existing one.

But I think we should let the code do almost all of the actual formatting. In my opinion, every node should have a short description (for the hover tooltip) and a long description (for the expanded stuff), and all input should have their own descriptions and t

[2022-08-02 13:18] joeyballentine commented on #315
https://stackoverflow.com/questions/2371436/evaluating-a-mathematical-expression-in-a-string

[2022-08-02 14:22] RunDevelopment opened #682 "Clearing a file input now displays an error"
![image](https://user-images.githubusercontent.com/20878432/182397868-5f665822-1366-4941-a78f-044f65f86cd3.png)

I think, it tries to run the node but can't.

[2022-08-02 14:28] joeyballentine commented on #682
Ah. That should be an easy fix. I can do it later.

[2022-08-02 20:23] RunDevelopment opened #684 "Add an "Invert Color" node"
As per [this message](https://discord.com/channels/930865462852591648/930865463318179952/1004114756090740766).

Given a grayscale or RGB image, the node should return `1-image`.

Not sure how RGBA should be handled. Only inverting RGB while leaving alpha untouched feels natural, but I'm not sure whether it's "correct."

[2022-08-02 20:30] joeyballentine commented on #684
I think leaving alpha untouched would be the way to do it. Feels like that's what happens in other image editors

[2022-08-03 06:24] RunDevelopment opened #687 "Add a "Copy to Clipboard" node"
When I edit images, it's sometimes easier to do certain tasks in chainner. E.g. tiling a texture to a certain size. To get the final image into my image editing software, I use the View Image (External) node and then copy the opened image to paste into a new layer in the image I'm working on.

It would be nice to have a node that copies an image to clipboard to speed up my workflow.

[2022-08-03 07:33] RunDevelopment commented on #663
Was this not resolved by #681?

[2022-08-03 08:12] RunDevelopment opened #691 "Note loads endlessly?"
When adding a Note node, the node will be animated as loading, when that's not actually the case. Since #680, the `node-finish` event now un-animates nodes, and since Note doesn't have any outputs, that event is never sent.

While this is a bug, I'm not sure which part is wrong. Is it Note being run in the first place (so the heuristic for which nodes to run needs to be changed), or `node-finish`

[2022-08-03 13:03] joeyballentine commented on #691
Node finish is only sent for nodes with outputs yes. This node shouldn't be running in the first place though

[2022-08-03 13:07] #684 closed

[2022-08-03 13:07] #659 closed

[2022-08-03 13:08] #605 closed

[2022-08-03 15:20] #691 closed

[2022-08-04 14:14] joeyballentine commented on #687
I think this should be possible by having an image clipboard output, and using a full image broadcast where instead of a preview it gets copied to clipboard. That is, unless python supports copying to clipboard as well

[2022-08-04 14:43] RunDevelopment commented on #687
I'd rather not send a 100MB PNG via JSON to the frontend just to write it to the clipboard. This is something the backend has to do.

[2022-08-04 21:47] RunDevelopment opened #698 "Add warning when modifying a currently running/paused chain"
What the title says. Users can edit chains while they are running or being paused. This potentially created multiple issues in the frontend code (all of these are bugs), but the main problem is that the user might get confused, as they might expect edits to parts that have yet to execute to be reflected in the final result.

[2022-08-05 09:33] joeyballentine commented on #698
How do we think this should be implemented? I'm thinking just a little floating warning box at the top of the editor pane

[2022-08-05 09:34] joeyballentine commented on #687
Yeah, I just didn't know if python could copy to clipboard. Since it can, we definitely should do it through that

[2022-08-05 10:27] RunDevelopment commented on #698
Agreed. That's what VS does as well.

[2022-08-05 20:40] RunDevelopment opened #700 "Execution status is not correctly updated"
I just experienced a bug where the execution status is not set to `READY` after the chain finished. The chain did not error and doesn't seem to be running in the backend anymore. The logs also don't show anything outside the ordinary.

Killing the chain caused a "Backend: [9808] [INFO] No executor to kill", so the chain really was not running anymore.

[2022-08-05 20:42] joeyballentine commented on #700
I wonder if that's caused by us removing unanimate from the SSE handler dep array. Probably same reason as before

[2022-08-05 20:46] RunDevelopment commented on #700
Yup. That's it. I'll make a PR.

[2022-08-05 21:39] RunDevelopment opened #702 "Broadcast image type info inside iterators"
Because of the way we broadcast type information, users can see what image an iterator is currently working on (e.g. via a View node).

However, the image output of our iterator helper nodes don't broadcast image type information rn. This means you know the name and path of the current image, but not its size. This is a little weird.

It would be nice if the image output of iterator helper nodes a

[2022-08-05 21:51] #700 closed

[2022-08-06 16:50] #702 closed

[2022-08-06 22:56] UNKNOWND3v commented on #664
What about allowing the user to change UI colours ?

[2022-08-07 11:19] RunDevelopment commented on #663
@joeyballentine @kimberly990

[2022-08-07 11:20] joeyballentine commented on #663
I don't know if that really counts as what this ticket wanted

[2022-08-07 11:55] kimberly990 commented on #663
#681 did 99% of what I wanted from this. Having in-depth descriptions with formatting would be great, but that wasn't my original intention with this ticket

[2022-08-07 15:03] #682 closed

[2022-08-07 15:03] #667 closed

[2022-08-07 15:04] joeyballentine commented on #663
In that case, consider this closed.

[2022-08-07 15:04] #663 closed

[2022-08-07 20:24] #440 closed

[2022-08-08 00:53] theflyingzamboni commented on #664
I have to agree with @kimberly990, having the different categories have different colors makes everything much more visually parseable for me. Removing them would make it harder for me to quickly pick a node out of a large chain. Don't really know what to do about limited color possibilities, but I do think having category colors matters for usability. It's definitely not meaningless.

[2022-08-08 09:50] RunDevelopment opened #708 "Some version doesn't parse correctly"
When opening chainner, the dependency manager logs this error:

[code]

The error occurs here:

[code]

[2022-08-08 14:53] RunDevelopment opened #712 "Upscale Image node's size changes"
The output label "Upscale Image" is quite long, so the type tag widens the node.

![image](https://user-images.githubusercontent.com/20878432/183447255-d39b3da3-3a42-4309-ab06-31c5deb6f863.png)

[2022-08-08 17:12] #708 closed

[2022-08-08 17:14] joeyballentine commented on #712
This is more of a general problem that I've seen happen to other nodes, and it's going to continue to be an issue.

We either need to just deal with the fact that nodes can change size depending on what information gets added, or we need to make each node unreasonably large just in case they have big labels and type tags, which I think is a bit ridiculous and a waste of space.

That being said tho

[2022-08-08 17:15] joeyballentine commented on #712
Also, "upscaled image" can probably be changed to "result". I only did it that way since we didn't have any way of knowing the type in the olden days, so I wanted to include the word image

[2022-08-10 01:25] joeyballentine opened #716 "Link dependencies to categories"
Since we now display install hints for categories, we may eventually have a scenario where we have a category that isn't just the name of the dependency. Therefore, we should have a way to link these.

I'm not 100% sure what the best way to do that would be, but I'm open to suggestions.

[2022-08-10 10:00] RunDevelopment opened #719 "Get rid of `useColorMode`"

[2022-08-14 15:24] joeyballentine opened #728 "Image File Iterator processes files in seemingly random order"
We can probably fix this by just sorting the files alphabetically or something

[2022-08-14 15:54] joeyballentine opened #730 "Keep a log of errored images in Image File Iterator and output at the end rather than erroring mid-processing"

[2022-08-14 16:05] #728 closed

[2022-08-14 19:31] RunDevelopment opened #732 "Reload starting nodes"
We currently run and cache starting nodes. However, this caching assumes that any files referenced by the node input data do not change.

Add a way for users to refresh the starting nodes, so that the cached output is up-to-date. This could either be a simple context menu entry "Refresh" or some kind of auto reloading (which would be nice).

[2022-08-14 19:37] joeyballentine commented on #732
How would we do auto reloading?

[2022-08-14 19:38] RunDevelopment commented on #732
I think [fs watchers](https://www.geeksforgeeks.org/node-js-fs-watch-method/) would be the easiest way.

[2022-08-14 19:47] joeyballentine commented on #732
Does that just constantly try to load the file? or does it do something smart to make it take almost no performance

[2022-08-14 20:09] RunDevelopment commented on #732
It's smart. OSes have a built-in functionality for this, and `fs.watch` API just exposes it to us.

[2022-08-14 22:39] joeyballentine commented on #732
In that case, I think we should do that. A manual reload would be nice as well

[2022-08-15 17:29] RunDevelopment opened #738 "Add download size for dependencies"
The deps manager should tell users how large a dependency roughly is alongside the "Install" button.

[2022-08-15 17:45] TheEnhas opened #739 "Any possibility of GFPGAN model support?"
I use the online versions of it but they tend to go down at times (and in the case of the colab, no longer works at all), so I'd like an (easy) way to use it locally.

[2022-08-15 18:08] joeyballentine commented on #738
I'm not sure we'll be able to accurately get that unless we can get the exact wheel name before install-time

[2022-08-15 18:09] joeyballentine commented on #738
Well, I guess we could just put it in ourselves lol

[2022-08-15 18:13] joeyballentine commented on #739
I've considered it before. It just requires facial detection and cropping and I wasn't sure the best way to accomplish that. But I think if we just had a "upscale faces" node or something like that it could work pretty easily. I'll look into it

[2022-08-15 18:30] theflyingzamboni commented on #712
I would just call them "Image" to make the Upscale nodes consistent with most of the other nodes. There are a few where we do things like specify what channels are input/output, but most nodes just say "Image".

[2022-08-15 18:47] theflyingzamboni opened #740 "Add directory output to Load Model nodes"
Just like with Load Image.

[2022-08-15 19:09] TheEnhas commented on #739
Thanks for replying, it's just that it works a lot better than most face/people upscalers for me. In particular it does eye restoration very well.

[2022-08-15 19:10] joeyballentine commented on #739
Yeah, I've used it before and it works extremely well. It just does more stuff than a normal upscale does so it isn't as simple as just plopping it in like I would anything else

[2022-08-17 09:55] RunDevelopment commented on #661
So I just implemented the fix and I think it's worse. The problem is that you can now undo text edits (basically, it'll uses Chainner's undo and will undo whatever text you just typed + the change before that), but you can't redo it. Since the text edit wasn't committed to history as a change, it can be redone.

[2022-08-17 09:57] RunDevelopment commented on #661
I made a PR, so feel free to check it out and see for yourself whether it's better. #745

[2022-08-17 14:34] #738 closed

[2022-08-17 14:35] #740 closed

[2022-08-17 22:57] jwvanderbeck opened #746 "Windows installer loads wrong log file on install error"
Either the installer has somehow been hijacked by spyware or something is very odd.  Went to try this out and the install failed.  When I went to look at the log I was rather shocked at what I found.

Why is this program trying to A) Mess with Discord and B) Install accessibility settings into Windows?!

[code]

[2022-08-17 23:47] joeyballentine commented on #746
That log file is not from chainner. That looks like a discord log file. Chainner's log file is located in appdata/roaming/chainner/logs

[2022-08-18 01:05] jwvanderbeck commented on #746
But it is.  I run the installer from the Release.  It throws an error and then has a button to open the log which gives that.  It is definitely coming from this.

[2022-08-18 01:10] jwvanderbeck commented on #746
![Untitled-1](https://user-images.githubusercontent.com/161126/185270137-36f20831-b7e2-4b3c-81ed-928471fdad5c.png)
You can see in the screenshot at the top this is coming from chaiNNer, and clicking that Open Setup Log button gives me what I pasted above.

I KNOW it looks like Discord hence my concern that something isn't right because this app shouldn't be doing anything to Discord

[2022-08-18 01:37] joeyballentine commented on #746
If you look at the dates on those logs they're from July 26th. I'm pretty sure it's just opening the wrong log file.

As for why the install is failing, I don't know. And I suppose the chainner logs probably wouldn't even exist if it hasn't been installed properly yet.

I assume the reason it's pulling up a discord log is because discord uses the same electron build tool, or at the very least uses

[2022-08-18 01:43] jwvanderbeck commented on #746
Oh great catch on the date in there.  I didn't even notice.  That makes me feel a lot safer and I will try the zip version.

[2022-08-18 02:04] v0nreagan opened #747 "Pytorch not installing on macos"
Clicking "Pytorch not installed" opens up dependency manager, clicking button next to "Pytorch Not installed" in dependency manager outputs Looking in links download.pytorch.org/blahblah in console but nothing happens for hours. You can restart as many times as you want, modules are not being downloaded.

[2022-08-18 02:28] joeyballentine commented on #747
Thanks for letting me know. Mac isn't well tested unfortunately, but I'll see if I can figure out why that's not working.

[2022-08-18 03:28] jeremyDayslice commented on #747
Also running into this on MacOS.

![Screen Shot 2022-08-17 at 11 28 12 PM](https://user-images.githubusercontent.com/89921859/185286672-d834fd00-d8a8-471f-9a33-7a82f3c0fa2f.png)

[2022-08-18 03:53] jeremyDayslice opened #748 "[macOS 10.16] Error report for chaiNNer 0.11.0"
Failed to start up on MacOS

Error:
[code]
OS: macOS 10.16

[2022-08-18 03:57] joeyballentine commented on #748
Thanks for reporting this. The macos version is not well tested. Was this with the zip version or with the dmg?

[2022-08-18 04:04] jeremyDayslice commented on #748
dmg.  I tried disabling the security checks on Mac, thinking maybe it was blocking outbound internet traffic from the app because it wasn't installed from the App Store, but that didn't seem to help.  I also tried to enable my system Python, thinking that might help get around the PyTorch dependencies issue but also no luck.  I will try the zip now though.

[2022-08-18 04:46] joeyballentine commented on #747
What version of macos are you on?

[2022-08-18 09:47] v0nreagan commented on #747
MacOS 12.3

[2022-08-18 09:57] justinasv775 commented on #747
Same thing here, no installing, MacOS 12.5

[2022-08-18 10:40] yueyunze opened #749 "after installed the 0.11.1 exe on windows,failed to fetch"
![1](https://user-images.githubusercontent.com/21197554/185375870-4bb919df-abc7-45c5-b0a2-9281d83de5e8.png)

[2022-08-18 11:40] RunDevelopment commented on #747
From the screenshot by @jeremyDayslice, there seems to be something seriously wrong with your python installation. We only show "Python (unknown)" if chainner can't find the integrated python installation, so that is likely why it can't install anything.

@v0nreagan, @justinasv775 Do you also have "Python (unknown)"?

Also, could you all please send us your logs? In chainner's menu, click _Help_ >

[2022-08-18 13:35] jeremyDayslice commented on #747
@RunDevelopment the screenshot is from when it was using the bundled Python.  Once I went into the settings and said use my local Python it stopped opening entirely, getting stuck at Loading Dependencies on the splash screen.

[2022-08-18 14:29] microbians opened #750 "Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.17

[2022-08-18 14:41] Skapenas opened #751 "Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.13

[2022-08-18 14:41] #751 closed

[2022-08-18 15:04] v0nreagan commented on #747
Now on 0.11.1 - yes integrated python is still listed as "Python (unknown)", I can also confirm that switching to an external python stops chainner from opening and requires scrapping all profile in Application Support folder.
In 0.11.1 download behaviour is the same - console outputs link to download.python.org and never progresses any further, download of NCNN provides no output in console at al

[2022-08-18 15:51] joeyballentine commented on #747
I will do some debugging on a MacBook when I can and try to figure out what's going wrong here. Not sure when I will be able to though

[2022-08-18 15:55] joeyballentine commented on #750
Duplicate of #748. Please continue any discussion on that issue.

[2022-08-18 15:55] #750 closed

[2022-08-18 15:59] predmunds opened #752 "critical error - failed to fetch with ChaiNNER 0.11.1 on Mac OS 10.14.6 Mojave"
"chaiNNer  - has encountered a critical error - failed to fetch" error message.

I clicked "allow" network collection.
After downloading app components and loading dependencies etc
A screen opened with an error message.
<img width="630" alt="Screenshot 2022-08-18 at 16 32 41" src="https://user-images.githubusercontent.com/111522998/185440799-23378f99-041e-49b1-8bfa-2218f74e6808.png">

[2022-08-18 16:12] joeyballentine commented on #752
Hi. We are currently getting a lot of reports from Mac users about issues. We are trying to figure out what exactly is going wrong. If you could please followil the advice listed here about sharing your logs, it would be greatly appreciated: https://github.com/joeyballentine/chaiNNer/issues/747#issuecomment-1219389230

[2022-08-18 16:45] predmunds commented on #752
hi Joey. I didnt see any advice about logs - can you please point me to it? I just joined github to post the issue so its all new to me  . thanks, P

[2022-08-18 17:06] RunDevelopment commented on #747
Yeah, that is a huge problem. You should be able to change settings without python working. However, fixing this will require us to rethink the way we structure chainner's application lifecycle, so this won't happen anytime soon.

[2022-08-18 17:09] RunDevelopment commented on #752
Joey meant this part:

[2022-08-18 17:10] RunDevelopment commented on #749
Hello @yueyunze!

Could you please share your logs with us? In chainner's menu, click _Help_ > _Open logs folder_, create a zip with `main.log` and `renderer.log`, and [attach the zip file to a comment](https://docs.github.com/en/get-started/writing-on-github/working-with-advanced-formatting/attaching-files).

**Privacy information**: These log files contain file paths of chainner's files. The fil

[2022-08-18 17:13] theflyingzamboni commented on #749
Or make a copy and do a Find/Replace on the info you want to censor.

[2022-08-18 17:50] sedetweiler opened #753 "GFPGAN"
Error saying ChaiNNer isn't compatible with this fantastic GAN.  Oh, I also am using your tool on my youtube channel, so you should see a considerable spike in traffic.  Thanks again for making such an amazing tool!

[2022-08-18 18:15] RunDevelopment commented on #753
Duplicate of #739.

We are already considering adding it, but it likely won't be easy, so it might take a while until it's available.

Thank you so much for that! Yes, we've seen quite a spike :)

[2022-08-18 18:26] predmunds commented on #752
Thanks RD. Can you please let me know where you copied and pasted that text from? I haven’t seen any of that guidance. Is it under a menu here on GitHub?

[2022-08-18 18:35] RunDevelopment commented on #752
No, it's in [the issue comment Joey linked](https://github.com/joeyballentine/chaiNNer/issues/747#issuecomment-1219389230).

What do you mean by "guidance"? Do you mean [our README project page](https://github.com/joeyballentine/chaiNNer#chainner)? I'm asking because if we know where people look for stuff like this, we might as well put it there.

[2022-08-18 18:44] joeyballentine commented on #753
Definitely bumping up GFPGAN support in priority. Currently working on implementing SwinIR support, but after that I'll work on GFPGAN, and maybe even GPEN as well.

Definitely seeing a spike in traffic, and a big increase in macos issues unfortunately. Hopefully we can get those handled. Glad you like chaiNNer and thanks for the shout-out!

I am going to close this issue though as it is a duplica

[2022-08-18 18:44] #753 closed

[2022-08-18 20:00] skyport opened #756 "it gives this error with popup window on first boot"
Error:
[code]
OS: macOS 10.17

[2022-08-18 20:04] skyport commented on #756
it gives this error with popup window on first boot.
  Model Name:	MacBook Air
  Model Identifier:	MacBookAir 10,1
  Chip:	Apple M1
  Total Number of Cores:	8 (4 performance and 4 efficiency)
  Memory:	16 GB
  System Firmware Version:	7459.101.3
  OS Loader Version:	7459.101.3

[2022-08-18 20:09] joeyballentine commented on #752
I linked the comment at the end of mine

[2022-08-18 20:12] joeyballentine commented on #756
Duplicate of #748. This issue has been reported a few times and we are currently looking into it.

Thank you for sharing your full system information. Hopefully we can figure out what's going wrong soon. As this is a duplicate ticket, I will be closing it.

[2022-08-18 20:14] RunDevelopment commented on #756
@joeyballentine This is not a duplicate.

#748 fails because of `IpcMainImpl.handle`, so [here](https://github.com/joeyballentine/chaiNNer/blob/3d57f4ddd379b1df32f04c1f3573cf0827ef0a7e/src/main/main.ts#L37). But this issue fails at `loadURL`, so [here](https://github.com/joeyballentine/chaiNNer/blob/3d57f4ddd379b1df32f04c1f3573cf0827ef0a7e/src/main/main.ts#L532). They are different.

[2022-08-18 20:52] joeyballentine commented on #756
Oh, good catch

[2022-08-18 20:58] skyport opened #757 "This is another one - Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.17

[2022-08-18 21:00] kirkartwork opened #758 "Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.13

[2022-08-18 21:06] RunDevelopment commented on #757
This seems like a duplicate of #756.

[2022-08-18 21:06] RunDevelopment commented on #758
Duplicate of #748.

We are aware of the issue and are working on resolving it.

[2022-08-18 22:16] joeyballentine commented on #757
Yes, this appears to be a duplicate of #756.

[2022-08-18 22:16] #757 closed

[2022-08-18 22:17] joeyballentine commented on #758
Closing this issue as it is a duplicate of #748

[2022-08-19 00:31] dan04K opened #760 "Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.17

[2022-08-19 00:51] joeyballentine commented on #760
Hello. Thanks for reporting this. This is a known issue.

Since this ticket is a duplicate of #748, I will be closing this one. Feel free to continue discussion about this issue there.

[2022-08-19 00:51] #760 closed

[2022-08-19 01:53] manoel-andre opened #761 "“chainner.app” cannot be opened because the developer cannot be verified"
Hi, just wondering if you're planning on registering as a developer so we can install it easier on macs. I can't override this settings on my macbook since it's from work. Thank you!

[2022-08-19 02:01] joeyballentine commented on #761
What's funny is I literally just got the same thing on my work MacBook attempting to look into these macOS issues haha.

I'm really hesitant to spend money on something like this but I might just have to bite the bullet and pay for it (as well as a code signing certificate on windows). It is only $99 a year, which isn't that much money in the grand scheme of things. We just never really had macOS

[2022-08-19 03:14] yueyunze commented on #749
[main.log](https://github.com/joeyballentine/chaiNNer/files/9378871/main.log)
That means I don't have the dependency.Why does chaiNNer not use admin python route?
![image](https://user-images.githubusercontent.com/21197554/185533438-ada2610c-e3b5-41cf-bde9-53271e58f02d.png)
Python binary for the pc is:
![1](https://user-images.githubusercontent.com/21197554/185533696-ddb2f149-48a9-43dd-869f-1f3bf8

[2022-08-19 04:35] joeyballentine commented on #749
Hi. I have fixed this issue and it should be getting released tomorrow.

As for why we install things automatically, it's the alternative to bundling everything with chaiNNer. Besides the fact that due to licensing issues we can't necessarily bundle everything we need, it would also suck to have to redownload everything related to the python environment every time. So we download the integrated py

[2022-08-19 04:46] joeyballentine commented on #749
Ah, I misunderstood your comment. I thought you were saying it was bad to install the things in general, but I now see you mean that chaiNNer does not display the information about the dependency installs, so it can just take a while with no information being displayed. I can definitely make that UX better.

[2022-08-19 07:56] jaroslav-pors commented on #747
I just tested local build with [#763](https://github.com/joeyballentine/chaiNNer/pull/763), [#764](https://github.com/joeyballentine/chaiNNer/pull/764), [#765](https://github.com/joeyballentine/chaiNNer/pull/765), [#766](https://github.com/joeyballentine/chaiNNer/pull/766), [#767](https://github.com/joeyballentine/chaiNNer/pull/767) and it seems to be working. No more Python (unknown)

- macOS 12.

[2022-08-19 08:49] joeyballentine commented on #747
Awesome! Thanks for testing that

[2022-08-19 08:56] andyderuyter commented on #747
Having the same issues on a Macbook Pro M1 (OSX version 12.3)

<img width="744" alt="Screenshot at Aug 19 10-52-50" src="https://user-images.githubusercontent.com/646590/185583002-1f8505f2-a709-4fe2-bab4-f98e624c89ef.png">

When selecting "Use system Python" in the settings it fails to start the app (throws an error). Had to delete the use system python file from Application Support folder.

[2022-08-19 13:34] joeyballentine commented on #747
@andyderuyter I believe this is fixed by #764. I should have that released later today

[2022-08-19 13:42] #746 closed

[2022-08-19 13:43] jwvanderbeck commented on #746
Portable version works fine!  And now that I realize it wasn't the right log file, my security fears are no more.

[2022-08-19 13:50] sedetweiler commented on #753
With the massive influx of AI Art and the fact that all of these sites
create face errors, you are in a great position.  Tencent's site is down,
and that was really the most used front end for that GAN, but was
overwhelmed with people using it to fix the poor faces.  Keep up the great
work!

-sed

On Thu, Aug 18, 2022 at 1:16 PM Michael Schmidt ***@***.***>
wrote:

[2022-08-19 13:51] #747 closed

[2022-08-19 13:55] prakhar625 opened #768 "Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.17

[2022-08-19 14:39] RunDevelopment commented on #768
Duplicate of #748.

[2022-08-19 14:39] joeyballentine commented on #748
@jeremyDayslice would you mind uploading that file that it's referencing? I can't personally install the chainner macos distributable and the index.js file it's referencing in this error is different from the one it makes when developing (it's minified) so its impossible for me to see what exactly it's calling that's causing this

[2022-08-19 14:40] joeyballentine commented on #748
Specifically I talking about `/Applications/chaiNNer.app/Contents/Resources/app/.webpack/main/index.js`

[2022-08-19 15:28] novatauri opened #770 "Error report for chaiNNer 0.11.1"
Error:
[code]
OS: macOS 10.17

[2022-08-19 15:31] joeyballentine commented on #770
Duplicate of #748. Currently looking into this.

[2022-08-19 15:38] joeyballentine commented on #768
Closing as this is a duplicate

[2022-08-19 15:38] #768 closed

[2022-08-19 15:38] joeyballentine commented on #770
Closing as this is a duplicate.

[2022-08-19 15:38] #770 closed

[2022-08-19 16:34] joeyballentine commented on #756
@skyport, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:35] joeyballentine commented on #752
@predmunds, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:35] joeyballentine commented on #749
@yueyunze, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:35] joeyballentine commented on #748
@jeremyDayslice, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:35] joeyballentine commented on #750
@microbians, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:36] joeyballentine commented on #751
@Skapenas, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:36] joeyballentine commented on #757
@skyport, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:36] joeyballentine commented on #758
@kirkartwork, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:36] joeyballentine commented on #760
@dan04K, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 16:36] joeyballentine commented on #770
@novatauri, could you please try the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) and see if it resolves your issues?

[2022-08-19 17:05] jeremyDayslice commented on #748
@joeyballentine it isn't working, it still won't get past the splash screen, but I think it's still trying to use my local Python.  Ever since I enabled the local Python option it hasn't been able to boot up.  Oddly though, there is nothing in my Application Support to delete, so I'm not sure how to restore it to normal functionality.   I'll keep trying though.

[2022-08-19 17:07] joeyballentine commented on #748
That's unfortunate. If it pops with a full error message alert box, would you mind sending a screenshot of it?

[2022-08-19 17:26] hopelesscase commented on #761
You can actually get it to open without verifying the developer. Right-click to open the context menu and hit Open. It'll throw an alert. Clear the alert and go again with right-click and open. You should now see an "Open" button.

Additional reading:
https://support.apple.com/guide/mac-help/open-a-mac-app-from-an-unidentified-developer-mh40616/mac

[2022-08-19 17:28] joeyballentine commented on #761
Unfortunately the way my work laptop is set up prevents that from happening, for security reasons. And it's the only Mac laptop I have access to.

[2022-08-19 17:30] jeremyDayslice commented on #748
Here is the log. It looks like it fails on trying to install `cv2`.   It looks like it is still trying to use my system Python, but it is actually using a Python install that is not the default tied to my PATH, so it is v3.8 instead of v3.9, which might be the problem?

[code]

If I could find where the `localStorage` is actually getting stored I could at least stop it from using my Python.

[2022-08-19 17:32] jeremyDayslice commented on #748
To be specific, It is using `/Library/Developer/CommandLineTools/usr/bin/python3` (3.8) instead of `/usr/local/bin/python3` (3.9)

[2022-08-19 17:33] hopelesscase commented on #761
I see. My personal Mac is really the only computer I can run stuff like this on. I'm lucky to watch YouTube videos on my Windows. XP

[2022-08-19 17:34] joeyballentine commented on #748
Interesting. Which version shows up when you type `python3 --version` in the terminal?

[2022-08-19 17:36] jeremyDayslice commented on #748
[code]

[2022-08-19 17:41] joeyballentine commented on #748
In that case I'm going to assume what I did to remove the PYTHONHOME environment variable from the python commands is what's causing that. This was to fix a different issue where it was causing some users who were trying to use integrated python to accidentally use their system python. So kinda the opposite of what's going on here.

Are you in the Discord server? I could send you a test build to t

[2022-08-19 17:51] jeremyDayslice commented on #748
I am, @ferdawins.  Thanks.

[2022-08-19 18:19] v0nreagan commented on #747
Well done Joey, 0.11.2 - Python version displayed, pytorch installs fine (NCNN and ONNX still doesn't).

[2022-08-19 18:45] joeyballentine commented on #747
@v0nreagan do you have an M1?

[2022-08-19 18:55] v0nreagan commented on #747
Yes, I have three M1's and three Intel Macs.

[2022-08-19 19:23] kirkartwork commented on #758
It is still not starting up. The splash screen gets hung up on "installing
dependencies" with the red line only going to about 1/3 of the way.

---
Lorenzo Kirkpatrick
[image: Facebook] <https://www.facebook.com/lorenzo.kirkpatrick/>[image:
Instagram] <https://www.instagram.com/kirkcartoons>

On Fri, Aug 19, 2022 at 11:36 AM Joey Ballentine ***@***.***>
wrote:

[2022-08-19 19:27] joeyballentine commented on #747
I think ncnn and onnx just don't support M1. Nothing I can do about that unfortunately

[2022-08-19 19:31] joeyballentine commented on #758
Could you send your logs? Should be in the chaiNNer folder in the application support folder.

[2022-08-19 19:47] v0nreagan commented on #747
OK, no worries, if it's not a bug, it's not a bug. Many thanks for getting it fixed for us, pytorch upscalers work like a charm now.

[2022-08-19 19:57] joeyballentine opened #772 "Make splash screen more detailed"
We should do a few things:
- be more verbose about what is going on at the current moment
- be clear what's installing and what progress it's at
- have some sort of better error handling and what to do when something breaks at this step. "Reset all settings" might be a good option to have if an error occurs as well

[2022-08-19 20:19] RunDevelopment commented on #772
Why not just get rid of the splash screen and do it all in the main window? We already have a loading animation there anyway.

[2022-08-19 20:25] joeyballentine commented on #772
That's a good idea actually

[2022-08-19 22:59] skyport commented on #757
Now we have another issue: :))

Console Output
Collecting onnx==1.11.0
Downloading onnx-1.11.0.tar.gz (9.9 MB)
9.9/9.9 MB 3.1 MB/s

eta 0:00:00
Preparing metadata (setup.py) : started
Preparing metadata (setup.py): finished with status "error"

Note: This error belongs to ONNX.
ONNX and NCNN can not be installed.
It looks like it's downloading but it just stays put. and nothing appears in their co

[2022-08-19 23:05] andyderuyter commented on #747
Can you link the upscalers that do work for you? I'm having issues where my app kust keeps 'running' the upscaler without anything working (except eating RAM like Cookie Monster) :/

[2022-08-19 23:25] 0x4E69676874466F78 opened #773 "Do not remove the old image in view image until the new is not ready"
And remove spinner on image block (the spinner is already at the bottom of the node).
![изображение](https://user-images.githubusercontent.com/4449851/185718669-99b9f98c-102b-460a-97a2-5ad94549dc51.png)

Very cool app, thanks!

[2022-08-19 23:34] kirkartwork commented on #758
I found the application support folder for chaiNNer. Here is the link.

https://drive.google.com/file/d/13iqHDg7XVvUpRHCLlCexwHeQz9Uj3os6/view?usp=sharing

---
Lorenzo Kirkpatrick
[image: Facebook] <https://www.facebook.com/lorenzo.kirkpatrick/>[image:
Instagram] <https://www.instagram.com/kirkcartoons>

On Fri, Aug 19, 2022 at 2:39 PM Lorenzo Kirkpatrick <
***@***.***> wrote:

[2022-08-19 23:44] 0x4E69676874466F78 opened #774 "Hover mode for stack images"
**Motivation**
Vertical and horizontal output is not as convenient for comparison as switching through hovering over a block image in node.

[2022-08-19 23:51] 0x4E69676874466F78 opened #775 "Model iterator for compare"
**Motivation**
It would be nice to set a list of models (for example, open a folder or select files) and then specify folder where to save their upscaling result. File name format: `${imagename}_${modelname}.png`

[2022-08-20 02:24] joeyballentine commented on #757
Ah. M1 would explain it. It seems ncnn and onnx don't currently support m1. At least pytorch should still work.

[2022-08-20 03:04] yueyunze commented on #749
@joeyballentine solved. After configuring PIP and installing global agent，0.11.2 works!Thx!

[2022-08-20 03:04] #749 closed

[2022-08-20 04:27] skyport commented on #757
Thanks anyway. I was wondering, when will it start supporting? Can you warn me about the subject? Because almost nothing works. So, as it stands, it doesn't seem to work very well.
All the best

[2022-08-20 04:39] joeyballentine commented on #747
@andyderuyter on mac, pytorch is going to use your CPU to upscale, so upscaling large images is going to take a long time and use lots of ram (and seem like it's doing nothing). For Intel macs I would normally recommend using ncnn (which uses your GPU via vulkan), but on m1 that is not an option. I'm looking into if it's possible to compile ncnn for arm macos. If it is, then it will be possible to

[2022-08-20 04:41] joeyballentine commented on #757
@skyport Until all these Mac users started coming in, I had no idea any of these issues existed. And I especially didn't know that m1 didn't support ncnn or onnx since I dont have access to an m1 Mac. I'm looking into if I can compile ncnn for arm macos, which would make that work. As for onnx, it does have a runtime for macos specifically so I can see if I can make it install that instead for m1

[2022-08-20 04:50] skyport commented on #757
Your the best. Thanks a lot.

[2022-08-20 07:52] microbians commented on #750
[latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.2) working fine

[2022-08-20 08:37] CharonM72 opened #776 "If/then nodes"
In its simplest form, a numerical test (IF [number] < [number] THEN ...), where the second part could be some number of actions, like deciding where to send a chain (if true, then send to this node; if false, then send to that node).

Something like that would be useful for automation.

[2022-08-20 08:39] CharonM72 opened #777 "Change canvas size"
A node to change canvas size (extendable with transparency for RGBA, or maybe a color or something for other colorspaces) would be useful.

[2022-08-20 08:54] joeyballentine commented on #776
Duplicate of #148

This is something we plan on doing eventually :)

[2022-08-20 08:54] #776 closed

[2022-08-20 09:01] dem10com opened #778 "Alpha 0.11.2 on MacOS 11.6"
Hi there,

I wanted to try the new version (0.11.2)  on my mac (intel, macos 11.6). After downloading, I am getting the errors I sent in the attachment. Is there anyone have an idea?

Thanks a lot.

![Screen Shot 2022-08-20 at 11 59 08](https://user-images.githubusercontent.com/111634201/185737630-a72cffeb-807b-4b35-bb23-247fa28e94ad.png)
![Screen Shot 2022-08-20 at 11 59 14](https://user-images.g

[2022-08-20 09:42] 0x4E69676874466F78 opened #779 "Autosave"
Save the current canvas when (options):
1. the window becomes out of focus
2. every n-minutes (default: 3)

If the canvas has not yet been saved to own file, then save the canvas result to a temporary autosave file.

[2022-08-20 09:59] joeyballentine commented on #778
Hi. For clarification, older versions of chaiNNer worked for you previously?

[2022-08-20 10:00] RunDevelopment commented on #779
Auto-saving to the current save file is generally not a good idea. Users frequently make temporary changes that they don't want to save, so we shouldn't force them to make the tradeoff between no auto saves and auto-saving everything.

While implementing auto saves into a temporary file would be rather easy (we already track all changes being made for the undo/redo functionality), I wonder if it w

[2022-08-20 10:03] RunDevelopment commented on #777
Just to clarify: Using Paint.net as an example, you basically want this, right?
![image](https://user-images.githubusercontent.com/20878432/185740597-6e09d02b-d9c3-4daa-bbbe-656d4cb63cab.png)

[2022-08-20 10:05] 0x4E69676874466F78 commented on #779
@RunDevelopment This is protection against crash app/BSOD/loss of electricity.
If you think this is not needed by default, turn these settings off by default.

[2022-08-20 10:08] RunDevelopment commented on #774
Sorry, I don't understand what feature you are suggesting. Do you want a comparison view like Cupscale has? Could you please explain it in more detail?

[2022-08-20 10:17] 0x4E69676874466F78 commented on #774
Yes. But in Cupscale you need to click on the image, I suggest hover on image (behavior may be customized?).

[2022-08-20 10:18] RunDevelopment commented on #779
That's a good use case.

I would probably do it like: Chainner constantly saves the current canvas to a temporary file. If Chainner crashes (with or without the rest of the system), then this file will be present, and we tell you "Chainner crashed last time, do you want to continue where you left off?" and load the temporary file. If you exit Chainner normally, it will delete the temporary file.

[2022-08-20 10:27] 0x4E69676874466F78 commented on #779
@RunDevelopment correctly!

[2022-08-20 10:30] RunDevelopment commented on #774
I'm not sure whether we can do something like that easily. The problem is that this requires a custom UI component. It's not like Stack Images that just returns another image.

Doable, yes, but it will probably take a while.

[2022-08-20 10:40] 0x4E69676874466F78 commented on #774
@RunDevelopment yes, possible here is better to create a another node. Thanks!

[2022-08-20 10:41] RunDevelopment commented on #773
@joeyballentine Is there a reason why we don't show the old image output? I mean, we have it, we just don't show it. We even have a reliable system to know whether an image output is stale your not.

[2022-08-20 10:44] predmunds opened #780 "failed to fetch with ChaiNNER 0.11.2 on Mac OS 10.14.6 Mojave"
Fetch error again (as with v 00.11.1) - on V 00.11.2 on Mac OS 10.14.6 Mojave

I’m using an iMac late 2015. Intel.

ZIP Copy of Main.log attached
[main copy.log.zip](https://github.com/joeyballentine/chaiNNer/files/9386892/main.copy.log.zip)

[2022-08-20 10:55] dem10com commented on #778
I just tried the previous version and it didn't work either. same error

[2022-08-20 10:58] 0x4E69676874466F78 commented on #774
It is possible if more than two images are submitted at once, to switch pictures through the mouse wheel or add arrow buttons in node.

[2022-08-20 11:02] 0x4E69676874466F78 opened #781 "Dummy-proxy node"
Even with the substance designer, I noticed a problem when I need to switch one source image for many nodes, then I have to change links for each, so I began to use a doing nothing proxy node there.
Here the situation is similar, now I began to use HUE & SATURATION for this.
I can continue to do this, but it doesn't seem right in terms of architecture/design.

Example:
![изображение](https://user-

[2022-08-20 11:05] 0x4E69676874466F78 opened #782 "Custom size node (for View Image)"
I want to see the view image node much larger than the other nodes, but there is no way to stretch it right now.
Using the zoom all the time is inconvenient.

[2022-08-20 11:21] RunDevelopment commented on #781
That sounds like a good idea. We could add a node that accepts any value (not just images) and returns it as is.

I'm just not sure what to name it. "[Identity](https://en.wikipedia.org/wiki/Identity_function)" would be the mathematical term, but I'm not sure whether users will recognize this term.

---

You actually picked the ideal node as workaround in the meantime. H&S actually optimizes the c

[2022-08-20 11:33] 0x4E69676874466F78 opened #783 "Memory leak python.exe"
**Information:**
- Chainner version: 0.11.2
- OS: Windows 10 Pro
**Description**
I just created the nodes and ran the canvas. And so for some time.
![изображение](https://user-images.githubusercontent.com/4449851/185743874-7af31193-5433-4679-ba48-cda579459753.png)

<details><summary>Stats</summary>
<p>

[code]

</p>
</details>
Maybe you need to unload it when it is not needed?

**Logs**
[logs.zip]

[2022-08-20 11:41] RunDevelopment commented on #783
What's your chain? Did this spike in memory usage occur before, during, or after running the chain?

[2022-08-20 11:51] joeyballentine commented on #774
It is not this simple. What RD it's saying is that it's more complicated than just writing some new processing logic, an entire new UI window needs to be made for that

[2022-08-20 11:53] 0x4E69676874466F78 commented on #781
@RunDevelopment

I think few people will understand without a description.
Alternatively, it can also be called "passthrough node".

[2022-08-20 11:54] joeyballentine commented on #783
And do you have an Nvidia GPU?

[2022-08-20 11:55] joeyballentine commented on #773
@RunDevelopment because I did the animation thing before the stale indicator thing was there. IMO we really only need to do the animation when there isn't a preview there yet

[2022-08-20 11:58] 0x4E69676874466F78 commented on #774
@joeyballentine

in the UI library it is impossible to customize specific nodes? Is everything hardcoded there purely under the existing functionality? if so, that's sad.

[2022-08-20 12:17] RunDevelopment commented on #774
The problem isn't that this is impossible, the problem is that we *are* the UI library. So we have to implement this, which isn't easy. With most other suggestions, we can just reuse and remix what we already have, but adding new UI components is more difficult.

[2022-08-20 12:17] 0x4E69676874466F78 commented on #783
@RunDevelopment

On a blank canvas (just started chaiNNer) memory consumption 3.56GB (python.exe).
Load the project resulted in the consumption of 4.84GB of RAM and 1.14GB of VRAM.
After run 8.74GB RAM and 2.31GB VRAM.
Further memory does not leak yet.
But still, why would he consume so much in idle time? Cupscale didn't keep python running.
By the way, if I forcibly terminate python.exe, chainner

[2022-08-20 12:19] 0x4E69676874466F78 commented on #783
I'll keep an eye on the memory leak.

[2022-08-20 12:21] RunDevelopment commented on #781
We have a feature called "passthrough" planned already (#373), so we can't use that name. Yes, they are totally different, but this would get confusing.

[2022-08-20 12:30] 0x4E69676874466F78 commented on #781
@RunDevelopment as I understand it, it is about the mode of any node when it is turned off and just has to skip further (do not stop chain). I don't see a conflict here.

[2022-08-20 12:54] 0x4E69676874466F78 opened #784 "Moving around the canvas by holding down the middle mouse button"
This will allow you to click anywhere on the canvas, including the nodes themselves, without hitting them.

[2022-08-20 13:14] 0x4E69676874466F78 opened #785 "Combobox node (list images with one selected as output)"
The node is similar to stack images, only in the list we choose which image to send to the output.
This would make it easier to save only the desired image.

[2022-08-20 13:20] 0x4E69676874466F78 opened #786 "Plugins API for own nodes"
I think some people could help you if there was a simple extension API.

[2022-08-20 13:23] 0x4E69676874466F78 opened #787 "Storage and browser window for community plugins and chain projects"
Related #786
It would be possible to share both plugins and chain projects.

[2022-08-20 13:23] RunDevelopment commented on #784
While I do like the feature, this might be something that we can't implement ourselves.

@joeyballentine, you know React flow better. Is this possible for us, or does this have to be added to RF itself?

[2022-08-20 13:27] 0x4E69676874466F78 opened #788 "Custom themes"
I would like to make a compact theme using CSS overrides.

[2022-08-20 13:28] RunDevelopment commented on #781
The problem is that they have the same name. I wouldn't be able to tell people: "You can solve this by using passthrough," because it wouldn't be 100% clear which one I meant. Vocabulary should be unambiguous if possible.

Regarding alternative names for this node: Since its purpose is to join/bundle edges, so you can change the source of multiple connected inputs at once, maybe we could take insp

[2022-08-20 13:34] joeyballentine commented on #781
I think we might need a whole different type of node here that is completely different from anything else. Like something small that just has a handle on each side that accepts anything. We could call it a bridge or a splitter or something

[2022-08-20 13:35] joeyballentine commented on #784
I don't think this is possible for us

[2022-08-20 13:39] joeyballentine commented on #774
Though if I understand the initial idea correctly, we might be able to just make it a different type of preview component without having to make any of the custom preview window stuff we wanna make. It wouldn't be as good of a feature but it would still work. Imagine the view node with two inputs and when you hover over it, it switches which one it shows

[2022-08-20 13:40] joeyballentine commented on #774
Of course though since we don't show full resolution previews, it wouldn't be as useful, so for that we might wanna send over a higher resolution image for each

[2022-08-20 13:40] RunDevelopment commented on #788
Custom themes are planned eventually, but it will be a long time until then. We currently use a UI library that uses CSS-in-JS, so CSS overrides are pretty much impossible right now. However, we are planning to eventually drop that library anyway (for performance reasons).

So custom themes will come, but it will likely take some time since we'd have to change most of our UI code.

[2022-08-20 13:44] RunDevelopment commented on #784
It seems like RF already has an issue for this https://github.com/wbkd/react-flow/issues/1767. Given the recent activity, it might be resolved soonish(?).

[2022-08-20 13:47] RunDevelopment commented on #781
I think blender allows you to minimize nodes like this:

![image](https://user-images.githubusercontent.com/20878432/185749044-b6fa968b-0000-4af3-a9b1-33ab81de3fd5.png)

It would be pretty useful to have that as a general feature instead of a special property for one node. Other nodes (e.g. Invert color) would also benefit from this.

[2022-08-20 13:52] 0x4E69676874466F78 commented on #788
@RunDevelopment okay.
Currently you can't even load/inkeject your own css that will override resulting html layout?

[2022-08-20 13:54] RunDevelopment commented on #785
I think you just suggested a subset of what #148 would be able to do.

[2022-08-20 14:02] 0x4E69676874466F78 commented on #785
@RunDevelopment To some extent, yes, I also wanted to say about the conditions, it's cool that you think about it too.
But this is all complicated, so for now I decided to proposal a more simple/specific function.

[2022-08-20 14:03] RunDevelopment commented on #786
Please be more specific. There are 2 things a plugin API could be.

The first is custom nodes created by combining already existing nodes. This feature is already planned. The idea is that you would be able to select a set of nodes in your chain and make a custom node out of them.

The second is a python API to integrate with the backend. This would allow you to e.g. add custom nodes by implementi

[2022-08-20 14:07] 0x4E69676874466F78 commented on #786
@RunDevelopment I was thinking about bundle "frontend" (js-ui) and "backend" (python) nodes.
Thanks for the answer.

[2022-08-20 14:08] RunDevelopment commented on #787
This is something I also want. I think that one of the greatest aspects of Chainner is that you can share (parts of) chains. I eventually want to add something like a [VSCode marketplace](https://marketplace.visualstudio.com/vscode) (without the monetization) or npm or pip to Chainner. Sharing chains should be easy.

However, there are a lot of challenges associated with this, so this issue will b

[2022-08-20 14:11] RunDevelopment commented on #788
No. It wouldn't be useful anyway. Because of the CSS-in-JS library, nothing has useful class names, just generated nonsense names that change every build.

[2022-08-20 14:26] joeyballentine commented on #787
On a related note, I've always wanted to have a model marketplace for downloading and sharing models as well. Again something that won't be for a while, but it could all be contained in a single chaiNNer marketplace kind of thing

[2022-08-20 15:57] kirkartwork opened #791 "Error report for chaiNNer 0.11.2"
I emailed my log files (I think) from the Application Support folder. Hope that helps.

Error:
[code]
OS: macOS 10.13

[2022-08-20 16:03] joeyballentine commented on #791
@RunDevelopment looks like the fix doesn't always work. Maybe we should make a safe handler registrator after all...

[2022-08-20 16:05] 0x4E69676874466F78 opened #792 "Rename banner.png to logo.png (or any other name)"
Image https://raw.githubusercontent.com/joeyballentine/chaiNNer/main/src/public/banner.png was blocked by one of the ublock origin default filters.
![изображение](https://user-images.githubusercontent.com/4449851/185755966-531021be-4bcf-47ed-8299-8cc7c6218bcd.png)

<details><summary>What does it look like...</summary>
<p>

![изображение](https://user-images.githubusercontent.com/4449851/185755997-

[2022-08-20 16:12] 0x4E69676874466F78 commented on #792
I'll close this issue as it's an ad blocker list issue.

[2022-08-20 16:12] #792 closed

[2022-08-20 16:14] RunDevelopment commented on #792
I'd recommend turning off ubo for GitHub in general.

[2022-08-20 16:16] RunDevelopment commented on #791
Do you mean the `trueOnce`?

[2022-08-20 16:18] 0x4E69676874466F78 commented on #792
@RunDevelopment yes but I'm far from the only one who didn't turn it off here.
This creates the appearance of an error in the repo.
I created an issue for the ad block list, let them get better.

[2022-08-20 16:24] theflyingzamboni commented on #792
I use uBO as well with whatever the default list is, and it doesn't block it for me.

[2022-08-20 16:26] 0x4E69676874466F78 commented on #792
@theflyingzamboni because the mistake is only (from confirmed) in the RU AdList.

[2022-08-20 16:28] 0x4E69676874466F78 commented on #792
Fixed https://github.com/easylist/ruadlist/commit/60efd616a549b4988a70ca745d6ecc87204b48d9

[2022-08-20 16:31] theflyingzamboni commented on #777
This is already (largely) accomplished by Create Border. We should probably expand on what that node can do. Right now it lacks a version to control border sizes independently (like with crop), and the idea of a color-picker for constant color is still unimplemented as well.

[2022-08-20 17:07] evaVSP opened #794 "CHAINNER did not recognize my GPU"
**Information:**
- Chainner version: [e.g. 0.11.2]
- OS: [e.g. Windows 10]

**Description**
CHAINNER did not recognize my GPU + it only uses CPU
![image](https://user-images.githubusercontent.com/111653830/185758452-8dc7f563-6da7-4186-9ed3-6f04ed1c47e0.png)
![image](https://user-images.githubusercontent.com/111653830/185758531-b5492996-2a21-48d8-a992-239d4e7aa3a9.png)

**Logs**
[logs.zip](https://

[2022-08-20 17:09] theflyingzamboni commented on #794
What GPU do you have?

[2022-08-20 17:10] evaVSP commented on #794
RTX 2070

[2022-08-20 17:20] joeyballentine commented on #794
Does anything come up if you type `nvidia-smi` into the terminal?

[2022-08-20 17:28] evaVSP commented on #794
yeah
![image](https://user-images.githubusercontent.com/111653830/185759221-7028ba08-77a1-4662-82fe-c6096e5ea0b1.png)

[2022-08-20 17:50] joeyballentine commented on #794
Huh that's weird then

[2022-08-20 17:52] #773 closed

[2022-08-20 18:45] jind11 opened #797 "Error report for chaiNNer 0.11.2"
Error:
[code]
OS: macOS 10.17

[2022-08-20 18:54] joeyballentine commented on #797
Hi. We believe we have resolved this and the fix should be released later tonight.

[2022-08-20 18:55] jind11 commented on #797
Thank you for the quick reply. Finger crossed!

[2022-08-20 18:55] #797 closed

[2022-08-20 19:06] joeyballentine commented on #794
Looking at the logs I dont see anything that could indicate that there was an error. This is very strange

[2022-08-20 19:27] evaVSP commented on #794
I got to work, I just added windows\system32 to the path in user & system variables :) and sorry for wasting your time

[2022-08-20 19:27] #794 closed

[2022-08-20 19:47] joeyballentine commented on #794
Oh ok, glad you got it to work. Don't forget to reinstall pytorch if you installed it when it didn't recognize your GPU. Otherwise it will still be using CPU.

[2022-08-20 20:06] theflyingzamboni commented on #774
This just sounds like the custom preview window we've already discussed.

[2022-08-20 20:40] RunDevelopment commented on #774
It does. Did we close that issue already?

[2022-08-20 21:47] LeuschkeTressa commented on #780
The same for me.

Using the Dependency Manager I can download PyTorch, but not NCNN or ONNX.

Full logs attached.

version: 0.11.2
OS: macOS 12.4 (Monterey)
machine: MBP M1

[logs.zip](https://github.com/joeyballentine/chaiNNer/files/9388046/logs.zip)

[2022-08-20 23:34] CharonM72 opened #798 "Fit image to (edge)"
Requesting a feature to fit the image to a specific width or height, or to fit the image within specific boundaries - in simpler terms, like in Windows etc. when setting a desktop wallpaper, there are various options to:
- Fill: resizes the image so the entire image fits inside the specified resolution, creating empty borders on the edge that are too small
- Fit: resizes the image so the entire im

[2022-08-20 23:34] CharonM72 commented on #777
Yes, something like that from paint.net.
I'm trying to see if it's possible to automate a process I currently do manually for converting a large number of images into a specific aspect ratio and size without loss in quality. Right now it has a lot of the tools needed but it still missing a few. I submitted a somewhat broader but kind of different issue in #798.

[2022-08-21 01:19] ryanbaltz opened #799 "Error report for chaiNNer 0.11.2"
Error:
[code]
OS: macOS 10.16

[2022-08-21 01:59] joeyballentine commented on #799
Hi. We believe we have resolved this and the fix should be released later tonight.

[2022-08-21 02:01] joeyballentine commented on #780
This is a known issue with M1 MacBooks. It seems ncnn and onnx do not currently support these platforms. I'm looking into how to beat address this.

[2022-08-21 02:25] theflyingzamboni commented on #774
No, it's still a planned feature. Unless someone feels this issue has something distinctly different, it should probably be closed as a duplicate of #220.

[2022-08-21 03:47] joeyballentine commented on #799
@ryanbaltz, please test the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.3) and let me know if this issue is fixed.

[2022-08-21 03:47] joeyballentine commented on #791
@kirkartwork , please test the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.3) and let me know if this issue is fixed.

[2022-08-21 03:48] joeyballentine commented on #797
@jind11, please test the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.3) and let me know if this issue is fixed.

[2022-08-21 03:48] joeyballentine commented on #770
@novatauri, please test the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.3) and let me know if this issue is fixed.

[2022-08-21 03:49] joeyballentine commented on #778
@dem10com I believe this means it was not able to download the python backend it needs. Do you have strict firewall settings or something?

[2022-08-21 05:26] modulator opened #800 "Error report for chaiNNer 0.11.3"
Error:
[code]
OS: macOS 10.13

[2022-08-21 05:27] modulator commented on #800
Thanks SO much for the work you're doing to get this Mac OS issue resolved!

[2022-08-21 07:46] aft opened #801 "Error report for chaiNNer 0.11.3"
During launch:

Error:
[code]
OS: macOS 10.15

[2022-08-21 08:39] joeyballentine commented on #800
Unfortunately it seems like it just never actually gets fixed :(

Is it the same full error message as before?

[2022-08-21 08:44] joeyballentine commented on #801
@aft would you mind sending a screenshot of the full error message that pops up for this? Thanks

[2022-08-21 09:16] dem10com commented on #778
I do not use any firewalls or restrictions. I also tried new version (0.11.3), I didn't get the errors I got before, but this time, the error comes as follows.

thank you

![Screen Shot 2022-08-21 at 12 14 14](https://user-images.githubusercontent.com/111634201/185784230-147e3169-8837-4a2f-b2c0-f08d0d5247f9.png)
.

[2022-08-21 09:18] dem10com commented on #778
After getting the error  I restarted it and this time it worked. thank you

[2022-08-21 09:28] dem10com commented on #778
I even noticed my Macos sees my gpu ( Radeon 5700 xt)  . The windows part I used in the same hardware (hackintosh)  did not detected it.

[2022-08-21 09:28] aft commented on #801
sure. let me know if you need any other info.
<img width="532" alt="Screen Shot 2022-08-21 at 12 26 38" src="https://user-images.githubusercontent.com/149634/185784662-04b80413-33ff-41a1-837f-56c34abe1b9f.png">
<img width="423" alt="Screen Shot 2022-08-21 at 12 26 31" src="https://user-images.githubusercontent.com/149634/185784665-1a97f881-1024-484d-8fed-1e8c298c8472.png">

[2022-08-21 09:33] aft commented on #801
i have also tried previous versions back to x.10 and same problem occurs. here is a log I found:
[main.log](https://github.com/joeyballentine/chaiNNer/files/9388795/main.log)

[2022-08-21 09:56] dem10com opened #802 "0.11.3 MacOs 11.6"
It doesn't show up even though I downloaded the NCNN package . I reinstalled and restarted but the problem persists

Thank you again

![Screen Shot 2022-08-21 at 12 50 58](https://user-images.githubusercontent.com/111634201/185785609-af58843b-1d71-4e8e-8fcf-b2f340bb8238.png)
![Screen Shot 2022-08-21 at 12 53 24](https://user-images.githubusercontent.com/111634201/185785611-d5798445-5ddd-4f9d-ab72-

[2022-08-21 10:05] dem10com commented on #802
by the way i dont have m1. I use intel

[2022-08-21 10:34] joeyballentine commented on #801
Yeah, looks like it's erroring on the python download. I'll check exactly what it's doing at the line it says though. Will look into it

[2022-08-21 10:37] joeyballentine commented on #802
Can you send your logs? They should be somewhere in the application support folder for chaiNNer.

[2022-08-21 10:54] joeyballentine commented on #774
Duplicate of #220

[2022-08-21 10:54] #774 closed

[2022-08-21 11:24] aft commented on #802
Location for logs is ~/Library/Logs/chaiNNer/main.log on osx.

[2022-08-21 11:32] aft commented on #801
Workaround for this issue:

1. Download and install python 3.9 from python.org
2. Make a folder named "python" under ~/Library/Application Support/chaiNNer/python
3. Copy everything in /Library/Frameworks/Python.framework/Versions/3.9 into the newly created folder (~/Library/Application Support/chaiNNer/python/python) - Probably not all the files are needed but doesn't hurt.
4. Launch the app

If

[2022-08-21 11:51] RunDevelopment commented on #780
@joeyballentine Maybe we could dry-run install packages to test whether they are installable? I don't know if that'll work, but it might.

[2022-08-21 12:42] dem10com commented on #802
here is my log file; i also test on my other mac ( 1080ti + macos 10.13.6, intel ). it didn't work either.

[main.log](https://github.com/joeyballentine/chaiNNer/files/9389117/main.log)

[2022-08-21 13:18] joeyballentine commented on #802
[code]

[2022-08-21 13:41] XNiadl opened #803 "Failed to fetch [Windows] [0.11.3]"
-OS: Windows 10,
-Version: Alpha v0.11.3
-GPU: AMD

**Description**
Open chaiNNer
Wait for it to load
--> Error
Tried deleting the folder and reopen, without any success.

Log has been attached
[main.log](https://github.com/joeyballentine/chaiNNer/files/9389196/main.log)

[2022-08-21 13:45] joeyballentine commented on #803
Looks like there's an issue loading the cv2 library. Can you delete the python folder from application support/chainner and try again?

[2022-08-21 13:49] 0x4E69676874466F78 opened #804 "Note textarea in any node (if click special button on the node)"
Arranging nodes with notes to each is not convenient, it would be better if set the purpose of the node within itself.

[2022-08-21 13:52] 0x4E69676874466F78 commented on #804
![изображение](https://user-images.githubusercontent.com/4449851/185794214-feca7357-f6d2-494e-adbc-798d329d7885.png)

[2022-08-21 14:03] joeyballentine commented on #780
@RunDevelopment I think the real fix might be checking to make sure pip finds a valid wheel. If it doesn't then that means it can't be installed

[2022-08-21 14:07] dem10com commented on #802
ok :) Do you have any suggestions?

[2022-08-21 14:13] XNiadl commented on #803
Same issue. New log:
[main.log](https://github.com/joeyballentine/chaiNNer/files/9389272/main.log)

[2022-08-21 14:35] woozygoozy commented on #802
I am having the same issue - it says installed in dependency manager but in the UI it says that its not installed

[2022-08-21 14:51] dem10com commented on #802
what is your config? ( cpu? os version ? )

[2022-08-21 14:57] joeyballentine commented on #802
I have no idea tbh. It's missing a library file it needs. Either that means there's something you need to install or there's something I need to add to the compile process.

[2022-08-21 14:59] joeyballentine commented on #803
Try following this answer, but with the python located in chaiNNer's application support folder

https://stackoverflow.com/questions/69159475/open-cv-module-cannot-be-imported

[2022-08-21 16:30] kirkartwork commented on #791
This is the screenshot I got before getting a chance to Quit the
application.

---
Lorenzo Kirkpatrick
[image: Facebook] <https://www.facebook.com/lorenzo.kirkpatrick/>[image:
Instagram] <https://www.instagram.com/kirkcartoons>

On Sun, Aug 21, 2022 at 11:06 AM Lorenzo Kirkpatrick <
***@***.***> wrote:

[2022-08-21 16:32] kirkartwork commented on #791
After that, I have to click Quit, for the app to quit. Then, I delete the
app and the Application Support folder.

---
Lorenzo Kirkpatrick
[image: Facebook] <https://www.facebook.com/lorenzo.kirkpatrick/>[image:
Instagram] <https://www.instagram.com/kirkcartoons>

On Sun, Aug 21, 2022 at 11:30 AM Lorenzo Kirkpatrick <
***@***.***> wrote:

[2022-08-21 18:56] predmunds opened #806 "Fetch error - on V 00.11.3 on Mac OS 10.14.6 Mojave"
Fetch error again (as with v 00.11.1 / 2 ) - on V 00.11.3 on Mac OS 10.14.6 Mojave

I’m using an iMac late 2015. Intel.

ZIP Copy of Main.log attached
<img width="478" alt="Screenshot 2022-08-21 at 19 52 53" src="https://user-images.githubusercontent.com/111522998/185806676-f85a7e90-69f8-42fc-a6ae-c9940545c1f4.png">

[main copy.log.zip](https://github.com/joeyballentine/chaiNNer/files/9389776/main

[2022-08-21 19:33] dem10com commented on #802
i hust download and install python 3.9 from official site nothing change. i also try hig sierra ( 10.13.6, intel, nvidia 1080ti ) and same problem.

[2022-08-21 20:21] ryanbaltz commented on #799
Hey, it works great! Thank you!

[2022-08-21 22:32] joeyballentine commented on #802
No its not related to python. The ncnn package is compiled with dynamic linking, so if you are missing a library file it needs it isn't able to work.

[2022-08-21 22:40] joeyballentine commented on #799
Glad to hear it!

[2022-08-21 22:40] #799 closed

[2022-08-21 22:43] joeyballentine commented on #806
Huh... It apparently tried to compile opencv when installing instead of just installing it. Weird

[2022-08-22 07:45] dem10com commented on #801
In the other version ( Macos 10.13.6 High Sierra )  that I did not run, this method worked

tesekkurler Cem

[2022-08-22 13:14] #778 closed

[2022-08-22 13:23] joeyballentine commented on #806
Apparently this issue is caused by using too old of a macos build. The opencv wheels are compiled on 10.15, and you're using an older version than that. Are you able to update your OS?

[2022-08-22 13:56] 0x4E69676874466F78 commented on #783
The more models I use, the more memory consumption.
As I understand it, because all models are launched simultaneously.
Is it possible to make a mode so that they run in turn (sequentially) and the heavy calculations of the previous one are unloaded from memory?

[2022-08-22 14:16] joeyballentine commented on #748
@jeremyDayslice you ended up getting this fixed, right?

[2022-08-22 14:18] joeyballentine commented on #783
I'm working on making it so we remove stuff from the cache that isn't needed anymore. that should significantly reduce memory consumption.

[2022-08-22 14:29] 0x4E69676874466F78 commented on #783
@joeyballentine very cool, thanks!

[2022-08-22 14:29] joeyballentine commented on #783
The issue is we cache every result from every node even when we don't need it anymore. This was originally both for memoization of the graph as we execute to avoid processing a node twice, but also for the pause/resume feature. But, we can smartly remove stuff we don't need. I've been working on this recently (even before you made this issue) but I just haven't had time to continue it

[2022-08-22 18:06] 0x4E69676874466F78 opened #807 "Multiplier for upscale node"
A combobox that specifies how many times the image should pass through the model.

[2022-08-22 18:10] XNiadl commented on #803
Doesn't work. Still get the same error.
[main.log](https://github.com/joeyballentine/chaiNNer/files/9396628/main.log)

[2022-08-22 18:15] joeyballentine commented on #803
I'm not sure what to do to fix it then. I'll do some more research and see if I can figure anything out

[2022-08-22 18:29] 0x4E69676874466F78 commented on #807
@joeyballentine I understand. It's just less convenient.
Let's say I have a small original image (128x128) and I need to increase it to 2048x2048 (or may be 4k).

[2022-08-22 18:33] 0x4E69676874466F78 opened #808 "[ONNXRuntimeError] : 2 : INVALID_ARGUMENT : Got invalid dimensions for input"
[code]
Models: https://github.com/armory3d/armorlab_models/releases/tag/2022.8
Simple project: [armorlabtest.zip](https://github.com/joeyballentine/chaiNNer/files/9396734/armorlabtest.zip)

[2022-08-22 18:35] 0x4E69676874466F78 commented on #808
I've tried other Tile Size Targets, no effect. It lacks some more parameters.

[2022-08-22 18:52] joeyballentine commented on #808
We don't support things that take in parameters. I don't even know what this model is or what it's for. The only kinds of models officially supported are super resolution models.

[2022-08-22 18:57] 0x4E69676874466F78 commented on #808
@joeyballentine these models are for generating PBR textures (basecolor, height, normal, occlusion, roughness).
Where in code could I set these parameters myself?

[2022-08-22 19:11] 0x4E69676874466F78 commented on #808
https://github.com/armory3d/armorlab/blob/a3fbea595478637de59efac7f7f38c746e57a08f/Sources/arm/node/brush/PhotoToPBRNode.hx#L6-L90

[2022-08-22 19:11] joeyballentine commented on #808
It would be where we actually run the ONNX model. Though I don't know how to actually set the other parameters as I have not tried to do so before.

[2022-08-22 19:15] 0x4E69676874466F78 commented on #808
As far as I understand this is just the output size.

[2022-08-22 19:18] joeyballentine commented on #808
It's missing two parameters

[2022-08-22 19:20] 0x4E69676874466F78 commented on #808
Yes, output size (width, height, default: 2048, 2048).
https://github.com/armory3d/armorlab/blob/a3fbea595478637de59efac7f7f38c746e57a08f/Sources/arm/node/brush/PhotoToPBRNode.hx#L78

[2022-08-22 19:24] joeyballentine commented on #808
kha.Image.fromBytes is not where it actually runs the model

[2022-08-22 19:59] 0x4E69676874466F78 commented on #808
There is a very confusing code scattered over many subprojects.

Yes.
https://github.com/armory3d/armorlab/blob/a3fbea595478637de59efac7f7f38c746e57a08f/Sources/arm/node/brush/PhotoToPBRNode.hx#L64
https://github.com/armory3d/armorcore/blob/d3221fa81864ba03f0648084cafe3af39ece9a5b/Sources/main.cpp#L3595
https://github.com/armory3d/armorcore/blob/d3221fa81864ba03f0648084cafe3af39ece9a5b/Sources/mai

[2022-08-22 20:00] RunDevelopment commented on #807
Sorry, but I don't think that we will add this. This is such a niche use case, that can already be done by chaining nodes today. I also want to point out that you might want to consider using a different model for 16x. Upscaling an upscaled image with the same model typically leads to quite the artifacts.

[2022-08-22 20:03] 0x4E69676874466F78 commented on #807
Okay.

[2022-08-22 20:03] #807 closed

[2022-08-22 20:08] theflyingzamboni commented on #808
The issue is actually just with how we get the number of input channels. chaiNNer is expecting the models to use dynamic axes, where the shape is ["batch_size", 3 (or whatever int value for the number of channels), "height", "width"], the values in quotes being string literals. So the check to get the shape order (bchw vs. bhwc) currently relies on determining which index (1 or 3) contains the int

[2022-08-22 20:11] joeyballentine commented on #808
Oh, that's interesting. I assumed it was like the topaz models that took in other parameters (which we can't support currently)

So I guess we just need a way to check if it has static axis instead of always assuming dynamic? Do you think that's possible?

[2022-08-22 20:13] theflyingzamboni commented on #808
Like I edited in after you probably read that, we may just be able to check whether index 1 is an int <= 4, because I *think* it's unlikely that we will get a model with a static height of 4.

[2022-08-22 20:16] joeyballentine commented on #808
I see. Batch would always come first I assume. bhwc and hchw are the two standard ones I know of. Anything else would be nonstandard

[2022-08-22 20:17] joeyballentine commented on #808
So I think your idea would work. I don't think any model would be for that small of an image size

[2022-08-22 20:31] 0x4E69676874466F78 commented on #808
@theflyingzamboni thanks!

[2022-08-22 20:47] theflyingzamboni commented on #808
@joeyballentine If you can't think of an issue, I can go ahead and PR that change.

(Side node, really weird that this model hard-codes a size of 2176x2176. What uses that dims, and why so limited?)

[2022-08-22 21:06] 0x4E69676874466F78 commented on #808
@theflyingzamboni I just know that in Armorlab you can choose 2K or 4K or 8K or 16K

![изображение](https://user-images.githubusercontent.com/4449851/186019109-2258414c-2b92-43ff-b748-f769223d6bd1.png)

[2022-08-22 21:12] joeyballentine commented on #808
It might be trained for that resolution specifically? Idk. maybe the arch is such that it needs to have that dimension

[2022-08-22 21:13] 0x4E69676874466F78 commented on #808
@theflyingzamboni

[code]
in_nc -> 3?

If so, then the model starts but does not work correctly.

[2022-08-22 21:32] 0x4E69676874466F78 commented on #808
basecolor from armorlab:
![изображение](https://user-images.githubusercontent.com/4449851/186022668-ab2cb3cf-0dcd-41ad-adb6-daaa977eb169.png)

[2022-08-22 22:11] theflyingzamboni commented on #808
2k is 2048 though. 2176  just seems like such an unusual number to target. Not that it really matters, except you can't pick a tile size, since the axes aren't dynamic.

Hmm, are you sure something isn't going wrong there? Those are definitely not the base colors of that texture. I also ran all the other models, and they look basically like I would expect them to, I think (though I'm not positive,

[2022-08-22 22:12] theflyingzamboni commented on #808
How did you get access to this? Their download page just says "In construction".

[2022-08-22 22:16] 0x4E69676874466F78 commented on #808
@theflyingzamboni

Yes. The base color should not have shadows and highlights, it is a "flat" colors. Normals... wait sec...

It needs to be built from source, or I can upload the finished build.

[2022-08-22 22:20] 0x4E69676874466F78 commented on #808
@theflyingzamboni

![изображение](https://user-images.githubusercontent.com/4449851/186028919-5c851cf6-2102-4137-8351-6f9e538b4b75.png)

![изображение](https://user-images.githubusercontent.com/4449851/186028889-fba4b4c7-60c6-4a0b-813a-cbdafdf7569d.png)

[2022-08-22 22:22] joeyballentine commented on #748
Confirmed it is working for him.

[2022-08-22 22:22] #748 closed

[2022-08-22 22:22] theflyingzamboni commented on #808
Yeah, that looks like more what I'd expect from a normal. If it requires more than just us getting correct dimensions, this may or may not be something we can reasonably implement. Will need to look into it more.

[2022-08-22 22:25] #719 closed

[2022-08-22 22:25] 0x4E69676874466F78 commented on #808
Maybe it works in a linear color space?

[2022-08-22 22:34] 0x4E69676874466F78 commented on #808
[ArmorLabRelease.zip](https://github.com/joeyballentine/chaiNNer/files/9398007/ArmorLabRelease.zip) (7zip LZMA2)
drop models in data/models folder

[2022-08-22 22:45] theflyingzamboni commented on #808
https://github.com/armory3d/armorlab/blob/a3fbea595478637de59efac7f7f38c746e57a08f/Sources/arm/node/brush/PhotoToPBRNode.hx#L63-L76

I'm reasonably sure that this is not going to be possible to use in chaiNNer. From what I can tell here, it seems the program does additional data transformations outside of just using the model.

[2022-08-22 22:50] 0x4E69676874466F78 commented on #808
And yes, I was careless, sorry.
But I'll ask the author what kind of magic he's doing there.

[2022-08-23 01:13] papajo opened #810 "Critical Error - [0.11.3] macOS - Catalina"
Got the Critical Error while launching the app.
MacOS - Catalina 10.15.7 (latest update)
chaiNNer - version 0.11.3 for mac

![image](https://user-images.githubusercontent.com/2457792/186045307-3ed9dff3-75f4-4a3b-8e1e-710ec9ac81aa.png)
[chaiNNer Critical Error.pdf](https://github.com/joeyballentine/chaiNNer/files/9398569/chaiNNer.Critical.Error.pdf)

[2022-08-23 01:16] joeyballentine commented on #810
Hi. Would you be willing to send your logs? Help > Open Logs Folder

[2022-08-23 03:07] joeyballentine opened #811 "Use bfloat16 if RTX gpu"
I just learned torch has a special dtype for RTX GPUs called "Boosted FP16" which apparently has much better performance.,

We should check whether the GPU name contains "RTX", and if it does send a "use_bfp16" flag to the backend's execution options. Then we can pick that for the autocasting instead of regular fp16.

[2022-08-23 04:43] joeyballentine commented on #802
@dem10com are you in the chaiNNer discord and would you mind testing out the new NCNN .whl I compiled? I want to see if it resolves this issue

[2022-08-23 04:44] joeyballentine commented on #747
@v0nreagan are you in the chaiNNer discord and would you mind testing out the new NCNN .whl I compiled? I want to see if it is able to be installed on an M1 mac

[2022-08-23 05:18] blindorange opened #813 "Error report for chaiNNer 0.11.3"
Error:
[code]
OS: macOS 10.17

[2022-08-23 05:19] blindorange commented on #813
Worked fine second attempt

[2022-08-23 05:19] #813 closed

[2022-08-23 06:08] dem10com commented on #802
I'm a member nowö but I'm out of town. I'll be happy to test it when I get back

[2022-08-23 06:26] StretchTDS opened #814 "cuDNN error: CUDNN_STATUS_NOT_INITIALIZED"
Hey! Brand new to Github, and know nothing about coding. A growing interest in AI art has me learning more and more about computer science. I love the design of the chaiNNer program and it feels very intuitive.

When attempting to upscale an image using a .pth model I get this error message:
An error occurred in a PyTorch Upscale Image node:

cuDNN error: CUDNN_STATUS_NOT_INITIALIZED

Input values

[2022-08-23 08:28] joeyballentine commented on #814
What are your system specs?

[2022-08-23 09:28] StretchTDS commented on #814
It's an older rig.

Intel(R) Core(TM) i5-3570K CPU
16GB Installed RAM
2x NVIDIA GeForce GTX 760

[2022-08-23 09:56] joeyballentine commented on #814
The 760 might just not be able to handle some models. Try switching to cpu mode in the settings

[2022-08-23 12:38] papajo commented on #810
Hi Joey, sure, here you go. Also, may I request you to train me on this
issue so I can help you fix this issue and many more? I am not an advanced
Python programmer but with a little guidance I can do it. Let me know.
Thanks and regards,
PJ.

On Mon, Aug 22, 2022 at 9:16 PM Joey Ballentine ***@***.***>
wrote:

[2022-08-23 13:02] StretchTDS commented on #814
This worked.

Tysm for getting back to me and for the awesome piece of software. I'll definitely be recommending to my pals. :)

[2022-08-23 13:03] joeyballentine commented on #810
@papajo replying to a GitHub issue by email does not allow you to attach files. Could you please attach them through GitHub?

As for training on this issue, I'm not sure what's wrong yet and I won't be until I see the logs

[2022-08-23 13:23] papajo commented on #810
Sure, hope it works
[main.log](https://github.com/joeyballentine/chaiNNer/files/9402852/main.log)
.

[2022-08-23 13:28] joeyballentine commented on #810
Weird, I don't see any errors but what I do see is that the backend is getting stuck open. Could you look for any extraneous "chainner" or "python" processes in activity monitor and force quit them? Then maybe it will work properly

[2022-08-23 13:54] joeyballentine commented on #808
Closing this for now as these models seem outside chaiNNer's scope

[2022-08-23 13:54] #808 closed

[2022-08-23 14:08] joeyballentine commented on #780
@LeuschkeTressa Are you in the Discord server and would you mind testing a possibly working M1 version of NCNN for me?

[2022-08-23 18:13] theflyingzamboni opened #816 "Shift Node output typing incorrect"
Shift node (and possibly others with negative-space fills as well) output typing does not account for transparency fill expanding channels to 4. For instance, inputting a 1-channel image to Shift with fill set to Transparency gives Gray as the output type, even though it should be RGBA.

[2022-08-23 21:57] joeyballentine commented on #780
@predmunds Would you mind testing the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.4)?

[2022-08-23 21:58] joeyballentine commented on #791
@kirkartwork would you mind testing the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.4)?

[2022-08-23 21:58] #801 closed

[2022-08-23 21:59] joeyballentine commented on #806
@predmunds would you mind testing the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.4)?

[2022-08-23 21:59] joeyballentine commented on #803
@XNiadl would you mind testing the [latest release](https://github.com/joeyballentine/chaiNNer/releases/tag/v0.11.4)?

[2022-08-24 00:19] LeuschkeTressa commented on #780
I'm not in the Discord server, but I'm more than happy to test a possibly working version! Just send me/point me to an installation file.

[2022-08-24 01:01] joeyballentine commented on #780
@LeuschkeTressa see if this installs for you at all. It's built specifically for arm macos https://cdn.discordapp.com/attachments/930878114299539536/1011707278367391814/ncnn_vulkan-2022.8.23-cp39-cp39-macosx_11_0_arm64.whl

Install it by running `pip install path/to/the.whl` with the actual path. If you want to try installing to chaiNNer's python rather than your system python, use `full/path/to/y

[2022-08-24 07:38] db0 opened #818 "Onboard rembg for image background removal"
**Motivation**
I want to be able to remove image backgrounds as part of my processing.

**Description**
[The rembg python module](https://github.com/danielgatis/rembg) uses a pytorch model to remove image backgrounds. It's not perfect but it's really damn good. I would like to have an option to use it during processing

[2022-08-24 09:54] RunDevelopment commented on #818
This might be a problem, since we support more than just 3.9.

@joeyballentine Honestly, this seems like the perfect third-party module (narrow in scope, self-contained, could be a single node). If we include it into Chainner, then we should make it an official third-party module as soon as we have an API (#786).

[2022-08-24 11:41] 0x4E69676874466F78 opened #819 "Linear color space (16bit, from 0.0... to 1.0...)"
Is it possible to process in a 16bit linear color space?

[2022-08-24 11:43] 0x4E69676874466F78 commented on #819
And saving in 16bit format.

[2022-08-24 12:24] 0x4E69676874466F78 commented on #819
@RunDevelopment okay.
It's just that I'm thinking of trying to create my own model and I think that it's better to work in linear space, and it's better to save normal maps in 16bit.

[2022-08-24 12:26] 0x4E69676874466F78 commented on #819
Also there is still a case of "SDR to HDR" model.

[2022-08-24 13:08] joeyballentine commented on #818
No need to add a third party library that only supports python 3.9 if you can just run the models already

[2022-08-24 13:16] db0 commented on #818
Sorry I am just not advanced enough for this usage. I'll see if I can figure it out myself, but in the meantime, it would still be cool if the chaiNNer module for this existed by default.

[2022-08-24 13:36] joeyballentine commented on #818
My main point is that we might be able to support this without needing to add this dependency. If there's something specific about the models I'd be able to detect, I could add support for it (if it doesn't already just work) like I do for pytorch with all the models there

[2022-08-24 13:39] joeyballentine commented on #780
@artphotolab ok so it looks like upgrading opencv didn't change the fact that it doesn't natively support macos 10. I'm not sure what to do about that then.

[2022-08-24 13:42] predmunds opened #820 "Fetch error again (as with v 00.11.1/2/3) - on V 00.11.4 on Mac OS 10.14.6 Mojave."
Fetch error again (as with v 00.11.1/2/3) - on V 00.11.4 on Mac OS 10.14.6 Mojave. I cant upgrade.

I’m using an iMac late 2015. Intel.

ZIP Copy of Main.log attached
[main copy.log.zip](https://github.com/joeyballentine/chaiNNer/files/9416574/main.copy.log.zip)
<img width="542" alt="Screenshot 2022-08-24 at 14 39 07" src="https://user-images.githubusercontent.com/111522998/186433948-516c3913-9534

[2022-08-24 13:45] joeyballentine commented on #820
Same error as before. I'm going to attempt to just compile opencv-python myself specifically for macos 10

[2022-08-24 13:55] joeyballentine commented on #820
You can't upgrade to at least 10.15? That appears to be the lowest version opencv-python supports

[2022-08-24 13:58] predmunds commented on #820
Mac OS 10.14.6 Mojave is the last version that supports 32 bit apps. So it will be on many systems still for a while to come. I need to stay on it as I still use some 32 bit apps.

[2022-08-24 14:03] joeyballentine commented on #820
I see. Well, I'm testing compiling with an older macos target, but I have no idea if it'll end up working.

[2022-08-24 14:06] joeyballentine commented on #820
If it ends up not working, I may have to just say that anything lower than 10.15 is not supported by chaiNNer. Opencv is a critical part of chaiNNer as we use it all over, so if it can't work below 10.15, neither can chaiNNer

[2022-08-24 14:22] kirkartwork commented on #791
Still getting the same hangup. It will not install dependencies. Maybe my
MacOS is too old?

---
Lorenzo Kirkpatrick
[image: Facebook] <https://www.facebook.com/lorenzo.kirkpatrick/>[image:
Instagram] <https://www.instagram.com/kirkcartoons>

On Tue, Aug 23, 2022 at 4:58 PM Joey Ballentine ***@***.***>
wrote:

[2022-08-24 14:49] XNiadl commented on #803
Before testing I uninstalled the pervious version. Then I downloaded the "Setup version x64" (correct right?) then opened with the same result.

I tried the fix you linked to with no success :(

[main.log](https://github.com/joeyballentine/chaiNNer/files/9417080/main.log)

[2022-08-24 15:08] joeyballentine commented on #803
Did you have an existing python installation and/or previously enable the "use system python"? The stuff I'm finding online about these errors seem to indicate that you have mismatching versions of opencv-python and opencv-python-headless. But chaiNNer only uses one of these so I'm not sure how that would be possible unless the issue is through your system python

[2022-08-24 15:25] theflyingzamboni commented on #818
Looking at it, it looks like it does things aside from just running the models, much like that Armory thing.

[2022-08-24 15:32] XNiadl commented on #803
I tried deleting everything related to python on my drive and it doesn't fix the issue. Haven't installed anything related to python that I know of, this is almost a clean install of windows.

[2022-08-24 15:50] kirkartwork commented on #791
Yep. I think that would be best. Thanks for getting it a try. Once I
upgrade my machine (hopefully by Christmas), I look forward to trying out
your app. Cheers!

---
Lorenzo Kirkpatrick
[image: Facebook] <https://www.facebook.com/lorenzo.kirkpatrick/>[image:
Instagram] <https://www.instagram.com/kirkcartoons>

On Wed, Aug 24, 2022 at 9:30 AM Joey Ballentine ***@***.***>
wrote:

[2022-08-24 15:55] 0x4E69676874466F78 commented on #808
![изображение](https://user-images.githubusercontent.com/4449851/186465206-3a30a372-5ca2-4361-b311-b1c3f999fddf.png)
![изображение](https://user-images.githubusercontent.com/4449851/186465284-347c099c-babd-4dfa-a84b-b687da7e4810.png)

[2022-08-24 16:08] joeyballentine commented on #803
@XNiadl when you uninstalled the previous version did you check to make sure the python folder was gone from the appdata/roaming/chaiNNer folder?

Try deleting that (appdata/roaming/chainner/python) and seeing if on the next start it works

[2022-08-24 16:10] joeyballentine commented on #808
Yeah they definitely are doing stuff other than just purely running the model

[2022-08-24 16:31] XNiadl commented on #803
Nope I didn't. But I tried a few times to delete python before that. Tried again on the new release and still getting an error.

Also tried moving the content into a cv2 folder without luck.

[main.log](https://github.com/joeyballentine/chaiNNer/files/9417865/main.log)

[2022-08-24 16:50] LeuschkeTressa commented on #780
@joeyballentine seems to work fine:

![CleanShot 2022-08-24 at 18 48 35](https://user-images.githubusercontent.com/76884940/186476597-ff30dd26-0adb-4c7d-a271-0223c712552d.jpg)

Thanks!

[2022-08-24 16:50] LeuschkeTressa commented on #780
@joeyballentine seems to work fine:

![CleanShot 2022-08-24 at 18 48 35](https://user-images.githubusercontent.com/76884940/186476597-ff30dd26-0adb-4c7d-a271-0223c712552d.jpg)

Thanks!

[2022-08-24 16:51] 0x4E69676874466F78 commented on #808
Every pixel (pixel_channel / 255 - 0.5) / 0.5 = result "linear space".
if pixel_channel = 0 then result -1
if pixel_channel = 128 then result 0,003921...
if pixel_channel = 255 then result 1
and then it does the reverse transformation (pixel_channel * 0.5 + 0.5) * 255).

@joeyballentine, Is there a way to iterate over each pixel in this way?

[2022-08-24 16:52] 0x4E69676874466F78 commented on #808
How do you store a color image in f32?

[2022-08-24 17:06] joeyballentine commented on #803
I have no idea why this wouldn't be working. There must be something about your system specifically that just prevents it from working properly.

Idea: Install python 3.9 to your system like normal. Then go to `AppData\Roaming\chaiNNer\settings` and create a new text file named 'use-system-python'. Open it in notepad, and type `true` into it, and save it. Then rename it and remove the .txt extensi

[2022-08-24 17:34] joeyballentine commented on #808
You can't iterate over the pixels with just chainner nodes alone. This is fairly simple with numpy array operations though.

[2022-08-24 18:27] LeuschkeTressa commented on #780
@joeyballentine Actually I don't have a need for this myself right now and had to switch focus to other stuff - but if you want to point me to a downloadable NCNN model to try I'll happily do so and report back!

[2022-08-24 18:34] joeyballentine commented on #780
This is one I always use for testing: https://github.com/nihui/realsr-ncnn-vulkan/tree/master/models/models-DF2K

[2022-08-24 19:36] joeyballentine commented on #803
https://github.com/opencv/opencv-python/issues/655 this is the same issue as you. Definitely seems to be the case that multiple different opencv variants are installed, somehow

[2022-08-24 19:59] Kessinen opened #821 "Resize node aspect ratio"
I would like to be able to resize the image while respecting aspect ratio. Resize by factor already exists, but what if I want an image that is 952x720 to be 1080 pixels high and maintain the aspect ratio. Currently I have to calculate the correct value manually.

Fix suggestions:
- A button to toggle a dimension to auto.
- Set value to zero and it is considered as auto
- Gimp has a chain icon tha

[2022-08-24 20:02] joeyballentine commented on #821
I actually want to implement this into the resize (resolution) node, with a chain icon button thingy like you suggested. This just requires implementing a general input linking mechanism which will take some work. There are other nodes that will benefit from that too, like ncnn/s load model node.

[2022-08-24 20:12] Kessinen opened #822 "Node organization"
Node area becomes cluttered very fast when adding nodes. For example: load and image, load a module to remove jpeg artifacts, apply the module, load a different module to upscale, add gamma and other adjustment nodes, save the image. Oh, and I would like to save the original as a comparison, but I want to add the word '-original' to the name. Suddenly I see myself looking at a big mess of nodes na

[2022-08-24 20:25] Kessinen opened #823 "Video frame iterator doesn't write the output video"
**Information:**
- Chainner version: [e.g. 0.11.4]
- OS: Manjaro Linux

**Description**
Video frame iterator does not write the final video. I am able to save it frame by frame as images, but not as video file.

I have included a screenshot as an example. I have tried to connect the input video straight to output, but nothing is written. I've removed the save image node, but the result is the same

[2022-08-24 20:27] Kessinen commented on #823
Chainner version is 0.11.4

[2022-08-24 20:30] joeyballentine commented on #823
Can you send your logs? I have a hunch this is an issue with ffmpeg/codecs

[2022-08-24 20:49] Kessinen commented on #823
Should have checked the logs. There's an error with the codec as you said. Is there a way to set a desired codec or is it hard coded? The log was really long and I removed all but entries from the last video write operation.
[main.log](https://github.com/joeyballentine/chaiNNer/files/9419319/main.log)

[2022-08-24 20:55] joeyballentine commented on #823
There's currently no way to set a codec in chainner. I struggled to even get one to work most of the time. I think the reason is because opencv can't bundle codecs due to licensing issues. The real fix for this is to not use the opencv video reader/writer and to instead use a direct ffmpeg binding that has all the codecs bundled. I just haven't gotten around to it yet

[2022-08-24 21:08] joeyballentine commented on #780
@LeuschkeTressa That wheel most likely won't actually work if you try to run an NCNN model. This one should though: https://cdn.discordapp.com/attachments/930878114299539536/1012105794738724955/ncnn_vulkan-2022.8.24-cp39-cp39-macosx_11_0_arm64.whl

[2022-08-24 21:15] Kessinen commented on #823
Yeah. Found a post: "Turns out open cv install via pip does not have access to the avc1 codec because of licensing issues."
So I tried to install python opencv from os repository with pacman, but still no-go. So I guess I just have to wait for an update. Still, chainner is an absolute diamond!

[2022-08-25 01:06] solarpunk42 opened #825 "Critical Error - [0.11.4] macOS 12.5.1 - Monterey"
Got the Critical Error while launching the app.
MacOS - Monterey 12.5.1
chaiNNer - version 0.11.4 for mac

[log.zip](https://github.com/joeyballentine/chaiNNer/files/9420357/log.zip)
<img width="1267" alt="error" src="https://user-images.githubusercontent.com/9528689/186550898-72c627b5-7747-46be-9c72-dad1f93513ff.png">
<img width="503" alt="OS" src="https://user-images.githubusercontent.com/952868

[2022-08-25 01:22] joeyballentine commented on #825
Did you enable the "use system python" setting?

[2022-08-25 02:30] solarpunk42 commented on #825
Hi !
I followed this tutorial : https://www.youtube.com/watch?v=ephKzjTp6ZE
installing 3.9 as I've got Intel Processor
[Python 3.9.13 - May 17, 2022](https://www.python.org/downloads/release/python-3913/)
Download [macOS 64-bit Intel-only installer](https://www.python.org/ftp/python/3.9.13/python-3.9.13-macosx10.9.pkg)
I've got still the error.
[Archive.zip](https://github.com/joeyballentine/chaiN

[2022-08-25 02:32] joeyballentine commented on #825
Oh, I just meant it looked like it originally was working for you and something changed, so I was wondering if you changed that setting at all. Is it accurate that it was working at some point?

[2022-08-25 02:38] joeyballentine commented on #825
I think I may have a hunch as to what's going on here, kinda. It's somehow using python 3.8, meaning you probably previously had python 3.8 installed and it is now using it. I'm guessing you did turn on the system python setting. Had you previously set up 3.8 with anaconda or something?

[2022-08-25 02:41] solarpunk42 commented on #825
The weird thing is that the first time I installed chainner it worked. But as I didn't see the node "Load Model" I added depencies in settings (Pytorch). But as I didn't see the model [Real-ESRGAN] I'm going on your discord and saw that I needed to upload the model here https://upscale.wiki/wiki/Model_Database
But when I relaunched the app to connect the model it doesn't work at all.

[2022-08-25 03:57] joeyballentine commented on #825
That's super strange. Do you have any idea where that python 3.8 could be coming from?

[2022-08-25 03:58] joeyballentine commented on #825
Also, can you go to Application Support/chaiNNer/settings, open the use-system-python file in a text editor, and see if it's set to true? If it is, could you change that to false?

[2022-08-25 13:19] solarpunk42 commented on #825
wow !
it works fine ! Thank you Joey ! ( ˶ˆᗜˆ˵ )
a bit longer due to my old computer I guess.
Maybe do you have advice to obtain a faster result ?
Is it working with video ? I suppose with video frame iterator 👯
anyway thanks ! (𓁹󠁘◡𓁹)
<img width="1253" alt="node" src="https://user-images.githubusercontent.com/9528689/186675550-d94da2a3-b1dc-414c-95a6-6f1bbd2bbb79.png">

[2022-08-25 13:42] joeyballentine commented on #825
Unfortunately macos has to use CPU upscaling for pytorch. However, if you were to use NCNN you'd be able to upscale on your GPU which would be much faster. I'm not sure how well that works on macos, but it should theoretically work. You just need to convert the model to the ncnn format which is a bit tricky. For that you have to connect to ONNX first (there's a node for it), then you can convert t

[2022-08-25 13:52] badnazo opened #826 "Can't allocate memory beyond 16Gb of RAM"
**Information:**
{
  "app": {
    "version": "0.11.3",
    "packaged": true,
    "path": "C:\\Users\\Fledge4tw\\AppData\\Local\\chainner\\app-0.11.3\\resources\\app"
  },
  "process": {
    "cwd": "C:\\Users\\Fledge4tw\\AppData\\Local\\chainner\\app-0.11.3",
    "argv": [
      "C:\\Users\\Fledge4tw\\AppData\\Local\\chainner\\app-0.11.3\\chainner.exe"
    ]
  },
  "os": {
    "version": "Windows 1

[2022-08-25 14:03] solarpunk42 commented on #825
Thank you ;) ! I'll experiment
Have a nice day.

[2022-08-25 14:03] #825 closed

[2022-08-25 14:07] joeyballentine commented on #826
Could you send a screenshot of the chain you're using? This is a bit unsurprising as the image you're working with is very large, and if you're going to be upscaling that, it's going to require a lot of ram to keep the results in memory.

One of the reasons so much memory is used is the cache we have of each node result, which prevents nodes from having to run more than ones and also allows the pa

[2022-08-25 14:18] woozygoozy commented on #802
So I have tried the latest release and I can confirm that it is still not working - presenting the same issue -
![ScreenShot 2022-08-25 at 10 16@2x](https://user-images.githubusercontent.com/44062706/186689659-63f3890f-563b-4a63-98b5-09d85fa45606.jpg)
as you can see the log shows missing files...

[2022-08-25 14:28] joeyballentine commented on #802
@woozygoozy this error is due to your computer missing vulkan. I'm not sure exactly how to resolve this but you could try installing MoltanVK through brew. If that doesn't work, then your MacBook might not support vulkan at all and therefore won't support ncnn.

[2022-08-25 14:44] woozygoozy commented on #802
So i finally got it fixed, I downloaded vulkan SDK and then installed it via terminal

[2022-08-25 14:46] ythoimust opened #827 "Blend node mix percantage value."
Percentage  for blend node would be nice.

[2022-08-25 15:22] joeyballentine commented on #827
For this, add an opacity node before the image you are blending. Reducing the opacity will adjust the "mix"

[2022-08-25 15:43] 0x4E69676874466F78 commented on #819
@RunDevelopment

Do you know which ones support floating point?

[2022-08-25 15:45] joeyballentine commented on #802
Sweet

[2022-08-25 15:47] hopelesscase opened #828 "Option to use homebrew's python?"
**Motivation**
Is it possible to use homebrew's python instead the bundled python (looks like 3.9?) or the system python (3.8.9)?

The reason I ask is I can only get ONNX to load and work by using the system python and despite having NCNN saying it's install via the dependancies manager I can't use any of the nodes. That's only after switching to the system's python. I tried to use the bundled pyt

[2022-08-25 15:52] joeyballentine commented on #828
The pytorch apple silicon support isn't released yet. It will be a long time before that's supported in chainner.

As for supporting homebrew python, I guess I could look into that. I had no idea homebrew had something for a separate python instance. I can't personally test that so the fact that you said M1 saves that slightly differently makes me worried about implementing that (again since I can

[2022-08-25 16:25] ythoimust commented on #827
Thanks. I was looking myself for such solution just did not think of the name of opacity.

[2022-08-25 16:48] hopelesscase commented on #828
Would this help?
https://docs.brew.sh/Homebrew-and-Python

As for location, homebrew says it "installs Homebrew to its preferred prefix (/usr/local for macOS Intel, /opt/homebrew for Apple Silicon and /home/linuxbrew/.linuxbrew for Linux) so that you don’t need sudo(https://docs.brew.sh/FAQ#why-does-homebrew-say-sudo-is-bad) when you brew install."

I won't mention it more because you said you can

[2022-08-25 17:03] ythoimust opened #830 "Tileable textures."
So the image upscalers have tendency to not care about repeatable tiling textures. They tend to break them. Would be nice to have option to fix that tiling on the borders. It is usually done either through some smooth fading or splattering with radius in pixels. Depending on the texture one or the other method is preferable.

[2022-08-25 17:03] #827 closed

[2022-08-25 17:05] joeyballentine commented on #830
We already have a way to fix this. Eventually an example will be included as a preset. Basically, use the border node to create tiling around the image (with a width of like 16 or so). Then upscale that image. Then take that result and crop the edges by the amount of the border * the scale of the model.

This is actually exactly how the seamless mode works in my esrgan fork. The difference here is

[2022-08-25 17:08] joeyballentine commented on #828
I can do my best to attempt to implement it. i just won't be able to guarantee that it works for everyone.

[2022-08-25 17:17] 0x4E69676874466F78 commented on #830
@ythoimust
![image](https://user-images.githubusercontent.com/4449851/186728915-de5c1c2d-e739-4117-af84-9fd337dadd2b.png)

[2022-08-25 17:25] ythoimust commented on #830
Yup, worked like a charm. The only issue I see is that if I wanted to plug different size image then I had to change both values. Percentage instead of pixels would be nice addition. A problem for potential batch operations for the future I guess.
By the way nice readable interface. Rarity among small apps.

[2022-08-25 17:35] joeyballentine commented on #830
You do not need to change the amount based on the image. It's a static amount for the width it adds around the border. And using crop edges also is a static border amount. You'd only need to change the crop amount based on the scale of the model, which you can do using the get model scale node and the math node. Then it would work for any image and any model

[2022-08-25 17:42] 0x4E69676874466F78 opened #831 "If low free memory then "PyTorch not installed.""
![image](https://user-images.githubusercontent.com/4449851/186733003-97f2ac69-2cb5-4697-90d1-5fdfe710f26d.png)
Log:
[2022-08-25 20:38:41.610] [error] Backend: [WinError 1455] ���� �������� ������� ��� ��� ���������� ��������.
Error loading "C:\Users\username\AppData\Roaming\chaiNNer\python\python\lib\site-packages\torch\lib\caffe2_detectron_ops_gpu.dll" or one of its dependencies.

Probably you ne

[2022-08-25 17:46] ythoimust commented on #830
I understand. However lets say 16 border at certain sizes will be a problem.  64x64 vs 1024x1024 might not be the best idea to use same 16 pixels border. Again that is a problem only for batch of lets say entire textures folder.

[2022-08-25 17:50] 0x4E69676874466F78 commented on #830
Use "GET DIMENSIONS" and "MATH" nodes.

[2022-08-25 18:06] 0x4E69676874466F78 opened #833 "Simple variable node"
A simple node that needs to be given a name inside it, there is an input and an output (only one of them is required).
Then if you set a value on input, you can create the same node with the same name and the value will be "copy" there.
This way you can reuse values already obtained in one part of the canvas and not create spaghetti nodes.

[2022-08-25 18:07] ythoimust commented on #830
Got it, thanks.

[2022-08-25 18:08] theflyingzamboni commented on #830
I don't know that this is the case for every model arch, but for ESRGAN at least, the pixel neighborhood is static and does not change based on image size. Because of this, the border does not need to be larger for larger images.

[2022-08-25 18:09] joeyballentine commented on #830
Due to the way upscaling works with ESRGAN at least, you really only need a bit of a border, like 16 pixels, for any image. Doesn't matter how big. It just needs to be big enough where the inference it makes along the edges (which should normally not have the context of the tiled information on the other side of the image) has that information. Because of the way convolution work, it really only n

[2022-08-25 18:10] joeyballentine commented on #833
Might be possible now that we have a dynamic type system. But I'm not 100% sure if this is still possible. @RunDevelopment would have to comment on if it's possible to determine the type of something like this for validation purposes

[2022-08-25 18:11] theflyingzamboni commented on #833
I may be misunderstanding, but I'm not sure of the purpose of this? It sounds like creating two nodes and two connections in place of one connection.

[2022-08-25 18:14] theflyingzamboni commented on #821
Tbh, I would like to at some point find a way to fuse duplicate node versions (resize and crop). I've never liked that we had all those separate, we just haven't had a way to combine them properly.

[2022-08-25 18:16] joeyballentine commented on #833
I think they just want to be able to separate stuff rather than having "spaghetti" of connections everywhere. Idk, might help make things look clearer. I've had this same idea before, but I wanted to call them "portals"

[2022-08-25 18:22] joeyballentine commented on #821
I have an idea for that actually. I'll message you on discord

[2022-08-25 18:32] 0x4E69676874466F78 commented on #833
@joeyballentine Yes, I wanted to named the topic portals, but I thought it was not too suitable a name.
@theflyingzamboni wait a couple of minutes i will draw an example.

[2022-08-25 18:47] theflyingzamboni commented on #833
Okay, it is what I thought then. Seems like a lot of extra node clutter to me, but if some people prefer their chains that way, maybe it's something we'll be able to implement.

[2022-08-25 21:02] 0x4E69676874466F78 commented on #833
I got distracted and lost the real idea I wanted to show. Sorry.
But the meaning is this:
![image](https://user-images.githubusercontent.com/4449851/186768188-934eac62-e1e8-416e-8b37-39d46465d98e.png)

Only in the real example the canvas is large and doesn't fit on the screen.

[2022-08-25 23:09] theflyingzamboni commented on #818
@db0 Have you been able to make this package work? I pip installed it, but importing the module completely breaks opencv for me. Like, the moment I add a line importing it, cv2 functions no longer do anything. The interpreter skips the command, and a script just hangs.

[2022-08-26 02:28] theflyingzamboni commented on #833
Yeah, that's what I thought you meant. Seems worse to me tbh, having to clutter up the canvas with more nodes, but I'm not necessarily against the option.

[2022-08-26 09:51] 0x4E69676874466F78 commented on #833
For me, more nodes are better than when the lines intersect.

[2022-08-26 09:55] 0x4E69676874466F78 opened #835 "Actions with selected nodes via the context menu"
At the moment I can't mass disable and enable nodes.
The context menu does not open if more than 1 node is selected.

[2022-08-26 10:28] laffan opened #836 "Drag canvas disabled inside Image Filter Nodes"
**Information:**
- Chainner version: [e.g. 0.11.0]
- OS: [e.g. Windows 10, macOS 10.13]

**Description**
No way to drag canvas if inside "Image File Iterator" node.  These nodes can easily cover the entire work area, and the only way I've found to navigate internal nodes is to use the "Fit View" button.

(Thank you so much for making this - it's an absolutely godsend. )

[2022-08-26 10:38] 0x4E69676874466F78 commented on #783
I think that the problem with 3.56GB is that when you start, heavy libraries are loaded into memory instead of loading them on demand and then unloading them as unnecessary.
![image](https://user-images.githubusercontent.com/4449851/186886231-fbbc4dcf-22bd-4d66-925f-2c6751ed9805.png)

[2022-08-26 11:45] 0x4E69676874466F78 commented on #818
Doesn't seem to need special support.
But model requires 320px tiles.
When I try to set this size I get an error.
[code]
But in general, the model works:
![image](https://user-images.githubusercontent.com/4449851/186896456-2da54d8b-e7de-406c-acdd-e9cba204b3eb.png)

[2022-08-26 14:17] 0x4E69676874466F78 opened #837 "Math::Exponent/Power does not give feedback in canvas"
And `math.pow` better then `**`.

[2022-08-26 15:08] db0 commented on #818
@theflyingzamboni you mean rembg in isolation? yes I use it a lot

[2022-08-26 16:15] theflyingzamboni commented on #837
Looks like exponent is just missing from the typing expression. Easy fix.

As for operators, math.pow is a lot slower than ** and always returns a float, instead of returning an int when the result is an int.

[2022-08-26 16:22] theflyingzamboni commented on #837
Actually, maybe not as easy a fix. It looks like @RunDevelopment has not implemented a pow builtin for the type system yet.

[2022-08-26 16:57] 0x4E69676874466F78 commented on #837
@theflyingzamboni

`timeit.timeit("7 ** i", setup="i = 5")`
0.19290430000000924 (!)
`timeit.timeit("7. ** i", setup="i = 5")`
0.12493870000002971
`timeit.timeit("7. ** i", setup="i = 5.")`
0.10786250000001019

`timeit.timeit("math.pow(7,i)", setup="import math; i = 5")`
0.14299719999996796
`timeit.timeit("math.pow(7.,i)", setup="import math; i = 5")`
0.13280789999998888
`timeit.timeit("math.pow(7.

[2022-08-26 16:58] joeyballentine commented on #818
Tile size target isn't a real tile size. it's a workaround I did to be able to manually set the splitting depth the upscale function uses, without having it be confusing to anyone who knows what a tile size is. It basically converts the tile size into whatever split depth would get you the largest size under the target size. I will be changing how this works soon to be a bit more verbose, and late

[2022-08-26 17:33] theflyingzamboni commented on #837
@0x4E69676874466F78 That's bizarre, because if you use a constant instead of a variable, ** is enormously faster.

`timeit.timeit("7 ** 5")`
0.00592789999791421

[2022-08-26 17:57] theflyingzamboni commented on #837
@0x4E69676874466F78 ** is still going to be faster for chaiNNer in general I believe. We enforce numerical data types, so if a node requires a number with precision 0, the value will be rounded and guaranteed as an int. Since math.pow always outputs a float, the value would have to be coerced to an int even when the value is a round number, adding more than the time difference between ** and math.

[2022-08-26 17:59] 0x4E69676874466F78 commented on #837
@theflyingzamboni i think it's cheating like precalculation/caching.
Needs to be tested in real conditions.

`timeit.timeit("7**5", number=10000)`
5.939999982729205e-05 (?)
`timeit.timeit("7**5", number=20000)`
0.0001187999996545841

`timeit.timeit("7**5", setup="import math; i=5", number=10000)`
5.959999998594867e-05
`timeit.timeit("7**5", setup="import math; i=5", number=20000)`
0.00011890000001

[2022-08-26 18:00] 0x4E69676874466F78 commented on #837
@theflyingzamboni okay.

[2022-08-26 19:01] RunDevelopment commented on #837
That's cause pow is non-trivial to implement for ranges of numbers (which is what types are under the hood). However, it's also not too difficult. I'll do it when I start working on chainner again.

That doesn't matter at all because all the executor stuff we do around it takes way longer.

[2022-08-26 22:28] theflyingzamboni opened #838 "Iterator broadcast persistence can break Fill Alpha"
When you use an iterator, Load Image (Iterator) only updates the image info broadcast when you run the chain. Since it can't know image info ahead of time, the validity checker does not catch if you have an RGB image connected to Fill Alpha, which requires an RGBA image. It only errors when you attempt to run the chain and the channel assertion in Fill Alpha fails. The issue here is that once Load

[2022-08-27 03:09] kimberly990 commented on #661
In my case, that fix would absolutely be of use. I'm not sure it'd benefit the majority of users though, for the reasons you stated.

[2022-08-27 07:23] Ravenwzj999 opened #847 "An request for a download link for the integrated Python"
when i try to install chaiNNer, i always encounter the python error, which i can't download the integrated python through the isntaller. and it always fail, i have to try many times, reboots, uninstalls and reinstalls to overcome it.

[2022-08-27 12:54] joeyballentine commented on #847
Did you block chaiNNer from accessing the internet?

[2022-08-27 15:29] joeyballentine commented on #783
I don't know if python is able to do dynamic loading like that

[2022-08-27 17:26] Kim2091 opened #848 "Add Credits Menu"
**Motivation**
Purely to provide credit to all who contribute to chaiNNer, coding or otherwise

**Description**
Add a menu like Help>About... or Help>Credits. This would open a screen similar to the Settings overlay, with credits for each person or each group of people

**Alternatives**
Credits could be done elsewhere, such as the readme file on github.

[2022-08-27 17:27] kimberly990 opened #849 "Node Timer"
**Motivation**
The ability to see how long it takes for each node to execute could be invaluable while running large chains. It's also immensely helpful while timing different architectures to see how efficient they are.

**Description**
Add a timer for each node in the bottom right in the blank space of each node.

**Alternatives**
None that come to mind

[2022-08-28 00:46] #802 closed

[2022-08-28 09:48] 0x4E69676874466F78 commented on #783
What if we create a queue node?
It has one input and many outputs (it would be nice if you could set as many as you like via input).
The logic is simple, it executes each output branch in order (not all at once).
It would be possible to unload intermediate data from already worked out branches.

[2022-08-28 10:51] 0x4E69676874466F78 opened #856 "Cut and paste editor nodes"
**Motivation**
There are complex images and there are no universal models that could process them with high quality.

**Description**
I understand that this task is difficult to solve in the current conditions, but in order not to forget for the future, I will place it here.
Need to feed different parts of the image to different neural networks and then merge them together.
An ugly example of what

[2022-08-28 12:01] 0x4E69676874466F78 opened #857 "Tabs with icons for sections for fast navigation"
![image](https://user-images.githubusercontent.com/4449851/187073186-fb0bbffd-2c6c-4241-8876-f1e7f3faacaa.png)

[2022-08-28 13:25] iamwavecut opened #858 "Allow Video Frame Iterator blocks run in batches instead of series."
**Motivation**
I'm using chaiNNer to restore videos and gifs, and I love it. But it's slow in that kind of workflow.

**Description**
Now, chaiNNer Video Frame Iterator runs every frame iteration serially, which adds a lot of wasted time for model loading/releasing for every iterated frame.
My proposal: Run every "block" batched.
I want EACH model (or filter, block, etc) in this chain to process 1

[2022-08-28 15:30] joeyballentine commented on #858
We can't trivially do this due to typically VRAM constraints when upscaling. We would need to implement some sort of multithreading VRAM usage lock, and I have no idea how to do that. Without it, you'd run out of memory constantly when trying to do anything. It would be nice though, because it would totally be possible for small images and smaller models, but without any way to prevent OOM errors

[2022-08-28 15:31] joeyballentine commented on #857
This is a really good idea

[2022-08-28 17:29] theRolento opened #859 "Anaconda Miniconda3 installed, chaiNNer can't find Python installed"
I would like to know if it's possible to point chaiNNer on using miniconda3 python package, because it gives me a "Python is not installed or invalid version" error.
When installing miniconda3 i've checked the "add to PATH" option if i'm not wrong.

[2022-08-28 17:47] theRolento commented on #859
Ok i was apparently wrong.
I have added miniconda3 to PATH now and it works.

[2022-08-28 17:47] #859 closed

[2022-08-28 21:12] iamwavecut commented on #858
A think you misunderstood me, sorry for my clumsy English.

I'm not talking about parallelization, not to process 100 frames in 1 job.

What I mean is to load the model once, then do 100 frames sequentially with it, then release model VRAM, move those 100 intermediate frames to the next block input, and repeat.

[2022-08-28 21:40] joeyballentine commented on #858
You can already do that. Just keep the model outside of the iterator and attach it to the upscale node that is inside the iterator

[2022-08-29 09:29] dem10com opened #861 "0.11.5 on macos Big Sur 11.6"
In this version, the installation went smoothly and I downloaded the ncnn packages. but this time the model I am using on windows and I am sure it works (4x-UltraSharp-opt-fp16.bin ) gives a black screen. Anyone have experience with this before?

![Screen Shot 2022-08-29 at 12 24 43](https://user-images.githubusercontent.com/111634201/187170318-69ad5b72-32cc-4bd0-a5ef-c9864506a180.png)

[2022-08-29 09:40] dem10com commented on #861
By the way, the reason for using ncnn is that the others are not using the gpu. pytorch is using only the cpu.

thank you

[2022-08-29 13:10] joeyballentine commented on #861
It seems like ncnn on macos is still broken unfortunately. It has something to do with vulkan, and I'm not sure what I can do to fix it. But I'll try

[2022-08-29 13:18] dem10com commented on #861
thanks a lot Joey

[2022-08-29 13:56] artphotolab commented on #820
Hi Joey,
I just read the topic you linked that is now closed. As I'm not into coding or software, what can we conclude about the utilisation of chaiNNer on Mac OS x 10.14.6 ?

[2022-08-29 14:13] joeyballentine commented on #820
@artphotolab currently you can't use it, unless you can get opencv to compile for you on 10.14. However, they just merged my PR that lowers the build target to 10.13, meaning that once their next update comes out, I will be able to update chaiNNer to use that version which should work on your system.

[2022-08-29 14:47] artphotolab commented on #820
Ok perfect then it may come to life one day ! :)
Thanks a lot for your work !

[2022-08-29 15:05] joeyballentine commented on #861
Onnx does not have an arm64 (m1) version, therefore it is unable to be installed.

[2022-08-29 15:06] joeyballentine commented on #861
Also this is the first I've heard of the ncnn m1 version I just released working. I was last told it produced black outputs as well. So this is good news I guess :)

[2022-08-29 15:17] dem10com commented on #861
oh, Now I noticed that if it is more than 512x512 image size it gives a black screen.

[2022-08-29 15:18] joeyballentine commented on #861
Thats probably due to the auto tiling then. If you set a target tile size of 512 does it always work?

[2022-08-29 16:03] moklick commented on #784
Drag pane by middle mouse is the new default behaviour in v11.

[2022-08-29 16:24] predmunds commented on #820
Thanks for your efforts Joey. That sounds promising!

[2022-08-29 17:28] joeyballentine commented on #830
Going to close this since it's been resolved. Though the fact that this often gets requested shows we need to get presets done soonish

[2022-08-29 17:28] #830 closed

[2022-08-29 17:30] joeyballentine commented on #783
Branching is not possible at the moment, but it's something we want to add eventually.

If rather fix the root cause of this, which is that chaiNNer for whatever reason is keeping stuff in RAM that it shouldn't.

Even with my caching fixes (including #860 which fixes my mistakes) chainner holds onto more ram than it should. We really need to figure out where this is happening and resolve it